[2019-01-17 08:26] lachmanfrantisek opened #4 "Better name"
The `ogr` is a nice, short name, but the 'meaning' should be changed.

Feel free to edit this comment.

| O | G | R |
| - | - | - |
| our | git | rule |
| one | git-forge | revolution |
| open | | rebellion |
| object | | realm |
| only |  | route |
| omnipotent | | rocket |
| | | recipe |
| | | rainbow |
| | | roadway |
| | | reactor |
| | | reunion |
| | | rebel |
| | | ruler |

Possible combina

[2019-01-17 09:06] phracek commented on #4
I would prefer `our-git-rebel`, `open-git-rainbow` or even `object-git-reactor`

[2019-01-17 13:14] TomasTomecek commented on #4
*the [O]ne [G]it library to [R]ule*

*the [O]ne [G]it [R]uler*

[2019-01-30 10:19] TomasTomecek opened #8 "Improve testing"
* [x] don't fail when PAGURE_{TOKEN,USER} are not specified
* [x] mock remote API and write complete unit tests using those data (or even have a single test suite and enable it to run against live instance and mocked data)
* [x] [tox](https://developer.fedoraproject.org/tech/languages/python/multiple-pythons.html)-ify it (#27)

[2019-02-14 13:05] lachmanfrantisek commented on #4
After discussion with @rpitonak and @jscotka, we decided to go with `* [O]ne [G]it library to [R]ule`.

[2019-02-14 13:28] #4 closed

[2019-02-15 12:46] jscotka opened #13 "missing annotations library for testing"
after installing `ogr` via ``pip3 install .``
I wanted to run make check ``PYTHONPATH=`pwd` pytest-3 -v ./tests/``

it leads to errors like:
[code]

seems that annotations module is not accessible in ``python3-3.6.8-1.fc28.x86_64`` by default

[2019-02-15 12:52] jpopelka commented on #13
Yes, per [PEP 563](https://www.python.org/dev/peps/pep-0563/#abstract) it requires python 3.7

[2019-02-15 13:09] jscotka commented on #13
From my perspective this is not good. from several reasons:
 * it is not possible to use it on Fedora28 directly. Yep, there is possible to install python37 too, but it is not default intepreter
 * other __stable__ systems may not support python3.7 maybe some debian stable, but no idea there
 * RHEL7 via RHSCL supports just python36
 * RHEL8 contains python36 , probably support of python37 will be

[2019-02-15 14:24] lachmanfrantisek commented on #13
Let's discuss this at the meeting next week. (There are multiple new python features, that can be used or should be avoided.)

We can avoid only the import, not the type annotations in general.

[2019-02-15 18:15] TomasTomecek commented on #13
F28 will be EOL soonish, we try to use F29 wherever we can, precise dates:

    2019-05-07: Fedora 30 Final Release (GA) (Target #1)

so F28 will EOL in May/June).

honestly, I don't think we care about those platforms now: we have this library for sake of us, so we can use it and our target platform is a F29 container at the moment; we can discuss this and align our expectations

^

^^

Usually p

[2019-02-18 08:29] lachmanfrantisek opened #15 "0.0.2 release"
Thank you in advance!

[2019-02-18 08:58] TomasTomecek commented on #15
I'll give him the perms.

[2019-02-18 09:07] #15 closed

[2019-02-18 11:46] jscotka opened #17 "missing ansible-bender dep for building"
Hi,
it is unbale to get or install ``ansible-bender`` for ``make build`` target.

It is not part of Fedora-29.

I've found that @TomasTomecek done this: https://github.com/TomasTomecek/ansible-bender
but it still failed:
[code]

after installing: ``sudo dnf  install buildah `` it finally works.

[2019-02-18 17:35] TomasTomecek commented on #17
+1 we need to package bender and then add it to requirements

[2019-02-19 14:31] #13 closed

[2019-02-26 17:08] TomasTomecek opened #21 "ogr doesn't work with python3.6"
[code]

[2019-02-27 05:50] lachmanfrantisek commented on #21
It would be a nice `good first issue`, but I cannot see any of these errors [on the master](https://github.com/packit-service/ogr/blob/master/ogr/services/pagure.py#L1).

[2019-02-27 08:37] TomasTomecek commented on #21
oh! I checked out 0.0.2 when I worked on the spec file

[2019-02-27 08:38] #21 closed

[2019-02-28 10:39] lachmanfrantisek opened #23 "0.0.3 release"
Release bot, please!

[2019-02-28 10:42] #23 closed

[2019-03-01 15:52] TomasTomecek opened #25 "0.1.0 release"
we need this b/c 0.0.2 doesn't have specfile

and I want to use packit to bring the release to fedora

[2019-03-01 15:56] #25 closed

[2019-03-01 15:58] jpopelka commented on #25
you mean 0.0.3 ?

[2019-03-01 16:18] TomasTomecek commented on #25
why not 0.1.0, I think we can finally do a minor release since ogr is starting to be stable and generally usable by anyone

[2019-03-01 17:18] TomasTomecek opened #29 "run our tests in Fedora CI"
this means to use standard-test-roles to wrap our tests so they can run when we create PRs on dist-git

see [python-docker's test wrapper](https://src.fedoraproject.org/rpms/python-docker/blob/master/f/tests) for more details

[2019-03-04 14:06] jscotka commented on #8
first issue solved by: https://github.com/packit-service/ogr/pull/30

[2019-03-04 14:12] jscotka commented on #8
otherwise, **unit tests** does not need to have any env_vars to be set. so it works well.

It is required inside **integration test**.

I think that solution that some part of integration tests will **mock** env and then there will be another part what needs to have credentials is completely fine, because in this case of library, also real E2E tests are important.

[2019-03-07 09:18] TomasTomecek opened #31 "create_fork should not fail if the fork already exists"
[code]

[code]

WDYT?

[2019-03-14 13:51] jpopelka opened #33 "Unify external command invocation"
utils.py uses several different approaches to invoke an external command:

* [subprocess.Popen](https://github.com/packit-service/ogr/blob/master/ogr/utils.py#L103)
* [subprocess.check_call](https://github.com/packit-service/ogr/blob/master/ogr/utils.py#L122)
* [subprocess.check_output](https://github.com/packit-service/ogr/blob/master/ogr/utils.py#L171)

The recommended approach (since Python 3.5

[2019-03-18 14:41] jscotka commented on #33
or there is also very nice wrapper in ``avocado`` https://avocado-framework.readthedocs.io/en/69.0/api/utils/avocado.utils.html#module-avocado.utils.process
could be used just as library and it is available in fedora and also on pip.

[2019-03-18 15:08] TomasTomecek commented on #33
Wow, that's really impressive, probably the most comprehensive subprocess functionality I have ever seen. My main concern is that avocado would pull way too many dependencies: it would be lovely to have a minimal implementation of what they have, ideally in one of our projects.

[2019-03-18 16:53] TomasTomecek opened #36 "new minor release"

[2019-03-18 16:54] TomasTomecek commented on #36
I just made a PR request for a release version 0.1.0
 Here's a [link to the PR](https://github.com/packit-service/ogr/pull/37)

[2019-03-18 17:20] jpopelka commented on #36
why?

[2019-03-18 17:26] TomasTomecek commented on #36
Leave me alone.

[2019-03-18 17:28] TomasTomecek commented on #36
I just made a PR request for a release version 0.1.0
 Here's a [link to the PR](https://github.com/packit-service/ogr/pull/38)

[2019-03-18 17:45] TomasTomecek commented on #36
I just made a PR request for a release version 0.1.0
 Here's a [link to the PR](https://github.com/packit-service/ogr/pull/39)

[2019-03-18 17:45] #36 closed

[2019-03-26 14:47] jpopelka opened #49 "Modules with poor code coverage"
[code]

I know the `gitlab` module is WIP, but the others deserve more tests IMHO

[2019-03-26 16:10] TomasTomecek commented on #49
I'd say the main problem here is mocking: we have a bunch of tests which we are not running in CI b/c they need github and pagure tokens.

[2019-03-26 16:18] #31 closed

[2019-03-27 08:58] TomasTomecek opened #50 "0.2.0 release"

[2019-03-27 09:03] #50 closed

[2019-03-27 21:00] TomasTomecek opened #52 "get_file_content: catch only 404, raise everything else"
Just spent some time debugging an issue where packit.yaml was not found while being 100 % it's in there.

It turned out that my token was incorrect and github kept throwing 401: that should bubble up, we should catch 404 only.

[2019-04-04 13:30] Aniket-Pradhan opened #53 "Add a documentation for API"
There is no documentation on how to use the library, currently. A documentation will help people on how to use ogr, and showcase it's features and functions.

This can be done by adding the wiki pages (on Github), since the documentation might be quite long and the Wiki will help in segregating several topics (for instance, how to use ogr for GitHub, GitLab and Pagure).

[2019-04-04 14:24] TomasTomecek opened #54 "add a way to set check results for a commit"
we need this in packit this sprint when we start building in copr

this should be implemented soonish and land in next release

relevant code for github:
https://github.com/packit-service/packit/blob/04793f16d5ced27b5e7fec7d963d650b065a4276/packit/watcher.py#L94

[2019-04-05 10:28] rpitonak commented on #53
@Aniket-Pradhan yes I agree with you that we need documentation. We already did some research about possible options here https://github.com/user-cont/kwaciaren/wiki/Documentation and we can start writing once we agree on it.

[2019-04-09 08:17] lachmanfrantisek opened #56 "better name for @readonly decorator"
The `@readonly` decorator should be renamed as it can confuse newcomers that the method itself is "readonly". The fact is that it has the opposite meaning of the read-only.

Feel free to add your ideas as a single comment so we can easily vote.

-----

Follow-up from #48

[2019-04-09 08:18] lachmanfrantisek commented on #56
`overwrite_on_readonly`

[2019-04-09 08:19] lachmanfrantisek commented on #56
`not_readonly`

[2019-04-09 08:19] lachmanfrantisek commented on #56
`if_readonly`

[2019-04-15 11:38] TomasTomecek opened #58 "github: fork repository name may not match the upstream repo name"
FML!

So my fork of packit is named source-git, not packit.

We should use an API call to obtain github forks, not a guess work.

[2019-04-26 07:35] jscotka opened #61 "create target for makefile for regeneration testing yaml files"
as integration tests needs regeneration stored yaml API communication.
Would be nice to add there target to be able to regenerate these files

[2019-04-26 12:38] TomasTomecek commented on #61
This: https://github.com/packit-service/ogr/blob/aabae598d9203aa002a0f0b39a499b4ea9b87b73/tests/integration/test_github.py#L15

[2019-04-26 13:21] jscotka opened #62 "testing: split yaml files with data for each test to avoid regeneration big file and big commits"
now each integration test class contains right one file with  stored API data.
We could reconsider it, and maybe have file for each test, to avoid to regenerate big file and have big commits.
We have to solve several issues:
 * How to handle it per test, now there is right one service pytest fixture function what contains it
 * How to regenerate just relevant part
    * maybe remove some timestamp

[2019-04-29 14:41] jscotka opened #64 "libpagure has changed"
libpagure==0.20 changed `headers` handling, so that
code like:
https://github.com/packit-service/ogr/blob/master/ogr/services/our_pagure.py#L172
has to be adapted, currenly I've added dependency on lower version of libpagure to
https://github.com/packit-service/ogr/pull/63/files#diff-380c6a8ebbbce17d55d50ef17d3cf906R44
to avoid this issue.

[2019-04-30 09:39] TomasTomecek commented on #64
but sadly we can't pick libpagure version in Fedora; Honzo, this blocks only the mocking functionality, right?

[2019-04-30 11:41] jscotka commented on #62
https://github.com/packit-service/ogr/pull/63 fixes it

[2019-04-30 19:32] jscotka commented on #62
Merged

[2019-04-30 19:32] #62 closed

[2019-05-03 14:27] jscotka commented on #64
It is not about blocking mocking functionality, but  about using attributes and functions of libpagure and causes current troubles for testing via tox; because tox downloaded the latest version instead of using system library, what is fine to know env.

In fedora, right now there is good version, but the question is if eg in fedora rawhide isn't this version.

So that we had to add there some chec

[2019-05-10 11:09] jpopelka opened #67 "libpagure.Pagure expects '/' not in repo attribute"
While debugging https://github.com/packit-service/packit/issues/305 I realized that it fails because [Pagure.create_basic_url()](https://pagure.io/libpagure/blob/17e240ea337e6962aa660b0cfd174ef6309f4162/f/libpagure/libpagure.py#_115) creates:
`https://src.fedoraproject.org//api/0/rpms/rpms/packit/pull-requests` which does not exist, correct is:
`https://src.fedoraproject.org//api/0/rpms/packit/pul

[2019-05-10 11:19] lachmanfrantisek commented on #67
Probably the problem in `OurPagure` or `PagureProject` in OGR.

Is this only a formatting change?

It is time to remove libpagure and communicate directly to Pagure API.

[2019-05-13 12:50] jpopelka opened #68 "new minor release"

[2019-05-13 12:52] #68 closed

[2019-05-29 07:10] lachmanfrantisek opened #73 "Change "Status" to "Flag" in the class names"
What about changing `CommitStatus`/`PullRequestStatus` to `CommitFlag`/`PullRequestFlag`?

_Original discussion: https://github.com/packit-service/ogr/pull/71#pullrequestreview-240461635_

[2019-05-29 07:12] lachmanfrantisek opened #74 "Add a link to `GitTag` from `Release`."
Add a link to `GitTag` from `Release`.

_Originally posted by @lachmanfrantisek in https://github.com/packit-service/ogr/pull/71/files_

[2019-05-29 07:46] #64 closed

[2019-05-29 07:46] #67 closed

[2019-06-11 13:18] jpopelka opened #76 "new minor release"

[2019-06-11 13:19] #76 closed

[2019-06-17 22:01] marusinm opened #79 "Add compatibility with Github's GraphQL API v4 and rest API v3"
I'm trying to implement ogr into [release-bot](https://github.com/user-cont/release-bot) and it's a little bit painful without documentation from ogr.

I was playing with ogr on my Github projects and everything is working fine. When I tried to reimplement [release-bot's](https://github.com/user-cont/release-bot) functionalities which communicate with Github via GraphQL or rest API I got stuck.

O

[2019-06-18 06:10] lachmanfrantisek commented on #79
Yes, you are looking at the right function:

[code]

When creating a comment, you probably need an ID of the pull-request and text to send (=`body`). (Other parameters allows you to comment on code, etc.. You can ignore them for your purpose.)

But you need to call it from the `GithubProject` class:

1. create an instance of `GithubService` (with credentials)
2. get an instance of the project (`se

[2019-06-18 08:59] marusinm commented on #79
Yes, I completely understand what you answered me.

I also did these steps before. And I understand `pr_comment` function's definition.

When we look at our model situation with comments this confuses me:
1. To get all PRs I call `prs = project.get_pr_list(PRStatus.all)` to get all PRs
2. Then I try to get first PR's id and comment it with
 `project.pr_comment(pr_id=prs[0].id, body="release-bot co

[2019-06-18 10:19] lachmanfrantisek commented on #79
Yes, your approach seems good.

Please, check the received objects and the id you are passing, so we can see, which one is causing the problem. Does the pull-request with that number exist? (Are you sure you are not working with the fork?)

[2019-06-18 10:38] marusinm commented on #79
I already checked it. I am definitely don't work with fork. I'm passing Integer id which is saved in class `PullRequest.id` within abstract.py. Such instances are created after calling `project.get_pr_list(PRStatus.all)`.  Everything seems right. Pull-request really exists but it is already merged, could be this problem?

Example of code which returns an error from the previous comment:
[code]

[2019-06-18 10:49] lachmanfrantisek commented on #79
Yes, everything looks good...

---

Please:
- Check the data in `prs`. Are the other attributes right?
- Check this url by hand: `https://github.com/{my-org}/{my-project}/pulls/{pr-id}`
- And this one: `https://api.github.com/{my-org}/{my-project}/pulls/{pr-id}`

[2019-06-18 10:57] lachmanfrantisek commented on #79
Good point. It does not work for merged PRs...

[2019-06-18 11:27] marusinm commented on #79
Now, I see where is the problem.

This is example of one of the pull-requests obtaned with `project.get_pr_list(PRStatus.all)`:
[code]

What I was doing is that I was working with `id` of this pull-request in this case `id=289221055`. But I have to work with id from `url` so `url='https://github.com/{org}/{repo}/pull/38'` in this case number 38. This was confusing for me. Now it is working. The qu

[2019-06-18 11:32] lachmanfrantisek commented on #79
OK, that's definitely a problem. This looks like some parsing problem or it can be a "global-pr-id". It should be fixed to be the same.

Maybe some problem on my side when I've played with that.

[2019-06-18 17:40] marusinm commented on #79
It indeed looks like some "global-pr-id" downloaded via some github lib. Can I work on it? If yes, should I just parse `url` attribute or do you think there is a better way?

I would like to ask if ogr has also some special function for commenting on Github issues or If I can use `pr_comment` again.

[2019-06-18 18:10] lachmanfrantisek commented on #79
Would be nice! Thanks.

We can use `number` instead of `id` here:
https://github.com/packit-service/ogr/blob/master/ogr/services/github.py#L316

 ([gitpython docs](https://pygithub.readthedocs.io/en/latest/github_objects/Project.html))

On the first look, we have no `pr_comment`. It's a shame, but should be (very) easy to implement.

[2019-06-19 07:21] marusinm opened #80 "Commenting on Issues"
Based on our discussion on Issue #79, there is no functionality in ogr for commenting on Github/Pagure issues.

[2019-06-19 07:23] marusinm commented on #80
I would like to provide a solution to this issue. 

Before that, I have several questions about ogr development: 
1. when you creating such a feature like this, should one PR consists of functionality for all git forges at once. In this case, I would provide commenting on Issue for Github/Pagure/Gitlab in one PR.
2. What is current support for Gitlab? I looked at ogr/services/gitlab.py and for now

[2019-06-19 07:54] rpitonak commented on #80
I think this is up to you, small PRs are easier to review. About Gitlab, as far as I know, we focus mainly on Github and Pagure right now.

@jscotka can provide the best answer to this question.

[2019-06-19 12:06] TomasTomecek commented on #80
Since none of us is really using the gitlab interface, I wouldn't worry with it much (unless you like adventure).

As Rado said, send the PR as you wish. One PR is okay.

Yup, no one is using it (yet).

https://github.com/packit-service/ogr/blob/master/CONTRIBUTING.md#makefile

please let us know if the doc is outdated

[2019-06-19 18:35] marusinm commented on #80
I successfully run tests on my local machine, now I wanted to test my new functionality for this Issue.

However, I need to generate a similar file like .yaml files stored in tests/integration/test-data. Without that, I am not able to test new functionality. Any advice on how to generate such .yaml file?

[2019-06-20 09:29] TomasTomecek opened #270 "get installation ID: use code from pygithub once a new release is available"
https://github.com/PyGithub/PyGithub/pull/1135 is now merged

Use the code above to initiate GitHubService, related code (which we are using in the meantime):

pretty much drop this:
https://github.com/packit-service/ogr/blob/253e93bc87c079d0cd8f3dc87fc5e11f5078e53b/ogr/services/github_tweak.py#L11

Use the newly added functionality in pygithub here:
https://github.com/packit-service/ogr/blob/5729

[2019-06-20 11:36] jscotka commented on #80
Hi, see lines in: https://github.com/packit-service/ogr/blob/master/tests/integration/test_github.py#L20
So for regenereation these files, you have to use syntax eg:
``FORCE_WRITE=yes GITHUB_TOKEN=yourtoken GITHUB_USER=yourname pytest3 tests/integration/test_github.py``
or this will also work ``FORCE_WRITE=yes GITHUB_TOKEN=yourtoken GITHUB_USER=yourname make check`` with make check, you have to ha

[2019-06-20 12:02] marusinm commented on #80
So I created `class Issues(GithubTests)` in `test_github.py`. This class should create one of the .yaml files similar to all files in tests/integration/test-data.

 In my case it should create for example file:
[code]

However, when I run all tests, all of them passing except for my tests in `class Issues(GithubTests)`.  I got an exception:
[code]

In `setUp` function within `class GithubTests` th

[2019-06-20 12:12] marusinm commented on #80
So I created `class Issues(GithubTests)` in `test_github.py`. This class should create one of the .yaml files similar to all files in tests/integration/test-data.

 In my case it should create for example file:
[code]

However, when I run all tests, all of them passing except for my tests in `class Issues(GithubTests)`.  I got an exception:
[code]

In `setUp` function within `class GithubTests` th

[2019-06-20 13:17] lachmanfrantisek commented on #80
@marusinm

When you set FORCE_WRITE to true, the tests will be directly requesting the GitHub/Pagure. The response will be saved in those YAML files.

When you do not use FORSE_WRITE, the tests will not use GitHub, but those YAML files to get a response... (This is used in the CI.)

Just create a pull-request and we can help you with that...

[2019-06-20 14:06] jscotka commented on #80
exactly, with ``FORCE_WRITE`` (set to any nonempty string :-) enforce writing files and reading real github API and store requests. inside CI is not set so it just use files. tox file has also enable to pass this value https://github.com/packit-service/ogr/blob/master/tox.ini#L18 so that you can regenerate it also via tox, but in this case you have to regenerate everything so that pagure variables

[2019-06-21 09:12] TomasTomecek opened #82 "Document how to save HTTP sessions for sake of testing"
[code]

_Originally posted by @jscotka in https://github.com/packit-service/ogr/issues/80#issuecomment-503991164_

[2019-06-24 14:46] #56 closed

[2019-06-25 07:31] lachmanfrantisek commented on #54
Already done:

https://github.com/packit-service/ogr/blob/master/ogr/abstract.py#L387
https://github.com/packit-service/ogr/blob/master/ogr/services/github.py#L262
https://github.com/packit-service/ogr/blob/master/ogr/services/pagure.py#L536

[2019-06-25 07:31] #54 closed

[2019-06-25 07:36] lachmanfrantisek commented on #49
Looks better now, but still not perfect:
[code]

[2019-06-25 07:41] lachmanfrantisek commented on #61
I've added targets for removing the response files in #84.

The refresh is now only about `remove-response-files` and `check`...

[2019-06-25 08:59] TomasTomecek commented on #61
Shall we close this then?

[2019-06-25 08:59] #8 closed

[2019-06-25 09:00] TomasTomecek commented on #17
we are not using bender any more

[2019-06-25 09:00] #17 closed

[2019-06-25 09:01] lachmanfrantisek commented on #61
We do not have one target for that, but I am not sure if it is needed...

[2019-06-25 10:28] TomasTomecek commented on #61
Yup, that's my point.

[2019-06-25 10:34] lachmanfrantisek commented on #61
I don't need it. I'm removing the files directly...

[2019-06-25 13:15] lachmanfrantisek opened #86 "object-specific methods bound to ogr classes"
- [x] Forward some object to the issue/pr/... instances to allow connection to the service. (Classes are not only data-holders.)
- [x] All ogr classes to have properties with setters allowing to update its attributes
    - I can do `my_pr.title = "something"`
- [x] Objects are linked together (Service <-> Project <-> PR <-> PRComment)
- [x] Keep old methods, mark them as deprecated.

needs #121

[2019-06-25 14:47] #61 closed

[2019-06-26 07:17] lachmanfrantisek opened #87 "Update pull-request information"
Add methods to `GithubProject`/`PagureProject` for editing title and description (first-commit in Pagure) of the pull-request.

For Pagure see https://src.fedoraproject.org/api/0/ --> Update pull-request information

[2019-06-26 07:44] lachmanfrantisek opened #88 "Add get_owner/get_owners method to project classes"
It would be useful to have a method for getting the owner(s) of the project.

If it is possible to have multiple owners, create `get_owners` and return list of strings.

[2019-06-27 09:48] lachmanfrantisek commented on #87
Here is a link to the GitHub documentation: https://pygithub.readthedocs.io/en/latest/github_objects/PullRequest.html#github.PullRequest.PullRequest.edit

[2019-06-27 10:29] lachmanfrantisek opened #90 "String representations for classes"
It would be nice to implement `__str__` methods for all classes (e.g. `GithubProject`, `Issue`,...).

[2019-06-27 10:34] #58 closed

[2019-06-27 10:39] lachmanfrantisek commented on #90
Some more info about `__str__` and `__repr__`:
- https://stackoverflow.com/questions/1436703/difference-between-str-and-repr#2626364
- https://www.journaldev.com/22460/python-str-repr-functions
- https://www.pythoncentral.io/what-is-the-difference-between-__str__-and-__repr__-in-python/

[2019-06-27 10:41] phracek opened #91 "Page `/fork/phracek/rpms/rebase-helper/pull-request/new` not found when calling Pagure API"
I would like to solve an issue https://github.com/packit-service/packit/issues/328
but it failed with traceback:

[code]

Referenced issues:
https://pagure.io/pagure/issue/4512
https://github.com/packit-service/packit/issues/328

[2019-06-27 10:44] shreyanshrs44 commented on #90
Hi, I would like to work on this issue. One quick question what should __str__ method return for each classs ? I mean what should be mentioned in the representation of the object.

[2019-06-27 10:50] lachmanfrantisek commented on #90
@shreyanshrs44 Thank you!

Just implement it as it is usual in Python -- I've linked some sources in the previous post.

I have no strict opinion about what precisely should be in `__str__`. Try adding useful info so it's easy to play with the classes. Send a pull-request and we can discuss that there.

[2019-06-27 10:54] shreyanshrs44 commented on #90
Sure !

[2019-06-27 12:20] shreyanshrs44 commented on #90
Hi I have created pull request here :https://github.com/packit-service/ogr/pull/93.

[2019-06-27 12:37] lachmanfrantisek commented on #82
Is [this](https://github.com/packit-service/ogr/blob/master/CONTRIBUTING.md#testing) enough?

[2019-06-27 12:40] lachmanfrantisek commented on #79
I am going to close this one since it was partially solved in #81 and covered by #80.

@marusinm Feel free to open other specific issues for problems that you found...

[2019-06-27 12:40] #79 closed

[2019-06-27 12:45] TomasTomecek commented on #82
:+1:

[2019-06-27 12:56] #82 closed

[2019-06-27 15:58] shreyanshrs44 commented on #88
Hi, I would like to work on this issue. From where I should start to work on this?

[2019-06-28 05:34] lachmanfrantisek commented on #88
It would be nice!

- In case of Pagure, you need to get the info from the API:
    - every instance has a documentation on /api/0/ (e.g. https://src.fedoraproject.org/api/0/)
    - the relevant would be part about `Project information`
    - since we are using this info in multiple was, we already have a function for that: [get_project_info](https://github.com/packit-service/ogr/blob/master/ogr/se

[2019-06-28 06:51] #87 closed

[2019-06-28 08:38] lachmanfrantisek opened #96 "new minor release"
ReleaseBot, we would like to release a new version.

Thanks in advance!

[2019-06-28 08:43] #96 closed

[2019-07-05 07:09] marusinm opened #100 "user's permissions on Issues/PRs"
ogr.abstract.Issue and ogr.abstract.PullRequest doesn't contain a field if a user has permission to close Issue or merge PR.

It should be detected by the user's token. In the case of Github, roles of `owner`, `member`, `collaborator` should have permissions.

It could be related to #88 if we save a list of owners, members, and collaborators into GitProject instance or create get methods for them.

[2019-07-08 08:46] marusinm commented on #88
@shreyanshrs44 are you currently working on this issue? I opened #88 which includes also feature in this issue. I would provide a solution in one PR.

[2019-07-08 13:27] marusinm commented on #88
@shreyanshrs44 meanwhile I implemented this in #101 since I need this feature in another project.

If you'll refactor my code It may be a nice showcase on how to start work on such issues.

[2019-07-09 09:27] lachmanfrantisek opened #103 "Clean the ogr/utils.py"
In #102, I've realized that most of the functions in [utils.py](https://github.com/packit-service/ogr/blob/master/ogr/utils.py) are never used.

We need to go through the functions and check if they are not used anywhere (please, control the packit codebase as well) and remove the unused ones.

----

In the other hand, we can move here the [LocalProject](https://github.com/packit-service/packit/bl

[2019-07-09 09:29] #33 closed

[2019-07-10 06:48] lachmanfrantisek commented on #52
https://github.com/packit-service/ogr/blob/master/ogr/services/github.py#L451

[2019-07-10 06:51] lachmanfrantisek commented on #90
Solved in #98

[2019-07-10 06:51] #90 closed

[2019-07-10 06:57] lachmanfrantisek commented on #80
This is already solved by #99 and #81

[2019-07-10 06:57] #80 closed

[2019-07-10 07:35] #52 closed

[2019-07-10 11:56] marusinm opened #107 "Remove PullRequests from list of Github Issues."
Based on [Github API doc](https://developer.github.com/v3/pulls/#labels-assignees-and-milestones):

Therefore, in the case of Github, functions as `get_issue_list`, `get_issue_info` etc. are working also with Pull Requests and behavior isn't tested.

We should get rid of Pull Requests in functions working with Issues. Pagure doesn't have this problem.

--------------
@lachmanfrantisek added:

To b

[2019-07-11 06:55] TomasTomecek opened #110 "requests recording: don't dump all the headers"
we don't really need all of them, how about just dumping these:

* `content-encoding` - so that requests know how to decode the content
* `content-type` - 'duh
* `date` - so we know when did we get it and pygithub/requests may need it
* `last-modified` - can be useful
* `server` - for sake of being sure
* `status` - 'duhhhhh

[2019-07-11 07:13] lachmanfrantisek commented on #110
In case of Pagure, we are not saving any header -- we are using [RequestResponse](https://github.com/packit-service/ogr/blob/master/ogr/utils.py#L259) object which does not contain any header.

So we need to:
- add headers to `RequestResponse` and filter the headers
- filter the headers for Github

[2019-07-11 08:20] lachmanfrantisek opened #111 "Allow creating releases"
For `Github` we can get the releases:
https://github.com/packit-service/ogr/blob/master/ogr/services/github.py#L571

We need to also create a new release from API.

---

Relevant documentation:
https://pygithub.readthedocs.io/en/latest/github_objects/Repository.html#github.Repository.Repository.create_git_release

[2019-07-11 08:48] #74 closed

[2019-07-11 08:51] lbarcziova opened #112 "Support releases in Pagure"
Figure out how to handle releases in Pagure.

[2019-07-11 09:16] marusinm commented on #112
There is missing functionality in Pagure API. I created a new [Issue in Pagure repository](https://pagure.io/pagure/issue/4531) for that. @lbarcziova you can subscribe it to get notified when the status of the issue will change.

[2019-07-11 10:01] TomasTomecek commented on #103
LocalProject, our hero :heart:

[2019-07-12 14:05] marusinm opened #115 "Missing functionality for getting content of a file."
In the case of Github, it is possible to get a repository's file content via [API](https://developer.github.com/v3/repos/contents/#get-contents) or [PyGithub lib](https://pygithub.readthedocs.io/en/latest/github_objects/ContentFile.html). In the case of Pagure, I am not sure if it is possible.

(I need this for release-bot, I can hack it for now, but would be wonderful to have such feature in ogr.

[2019-07-12 14:55] marusinm opened #116 "get_releases for Pagure"
services.github.py already can [list all releases](https://github.com/packit-service/ogr/blob/badeddd87032da354d411fff3365bb02e260571b/ogr/services/github.py#L656). We need this for Pagure too.

[2019-07-12 21:57] lachmanfrantisek commented on #116
We can mark this as a duplicate to #112.

I'll update the comment to support `get_releases` as well...

[2019-07-12 21:58] #116 closed

[2019-07-13 18:49] lachmanfrantisek commented on #115
It's already there..;-)

https://github.com/packit-service/ogr/blob/master/ogr/abstract.py#L672
GitHub: https://github.com/packit-service/ogr/blob/master/ogr/services/github.py#L527
Pagure: https://github.com/packit-service/ogr/blob/master/ogr/services/pagure.py#L703

[2019-07-13 18:50] #115 closed

[2019-07-15 10:54] marusinm commented on #112
I was playing around with git tags for Pagure project. When git tag is created Pagure UI shows it as a new release.

I don't know yet if it'll help us with creating new releases, but I created function `get_releases` for Pagure see #117.

[2019-07-16 07:15] rpitonak commented on #103
+1

[2019-07-16 10:36] jpopelka commented on #73
There's also [IssueStatus](https://github.com/packit-service/ogr/blob/master/ogr/abstract.py#L31)? (just spotted it in https://github.com/user-cont/release-bot/pull/231)
Should we change `IssueStatus` to `IssueFlag` as well?

[2019-07-16 10:54] lachmanfrantisek commented on #73
Good point, we've missed two things:

- status: open/close
- flag: CI status

[2019-07-16 11:54] lachmanfrantisek opened #121 "Deprecation policy"
Figure out a deprecated strategy for ogr, get inspired by packit: https://packit.dev/ [or django, ansible].

- [x] documentation
- [x] solution for method/classes

[2019-07-16 13:56] #103 closed

[2019-07-17 07:14] #111 closed

[2019-07-17 12:03] marusinm opened #123 "update contribution guide"
Can we please update the contribution guide. Ogr now uses new zuul CI (or softwarefactory-project-zuul).

I'm a little bit stuck on what should I do to make my tests passing when PR is opened. On my localhost, everything is working in the "old way" and tests are passing.

[2019-07-17 12:52] #73 closed

[2019-07-18 07:11] lachmanfrantisek commented on #88
Already fixed in #101

[2019-07-18 07:11] #88 closed

[2019-07-18 07:15] lachmanfrantisek opened #124 "Run tests on the OGR project itself"
- Try to have only one project for testing (ideally OGR itself in case of GitHub).
- Then it is easy for everyone to regenerate the test responses.

[2019-07-18 07:17] lachmanfrantisek opened #125 "GitLab support"
It would be nice to finally start implementing the GitLab support.

We can probably combine the code from GitHub and the already present code.

The documentation can be found here: https://python-gitlab.readthedocs.io/en/stable/

[2019-07-18 07:56] marusinm opened #126 "get_email for GitUser"
We have `get_username` method in GitUser class. At the moment we are missing method `get_email` for both ~~Github~~ and Pagure services.

-----

- [x] GitHub
- [x] GitLab
- [ ] Pagure

[2019-07-18 08:07] TomasTomecek commented on #124
random contributors won't have edit access on ogr and might not be able to regen some offline files (just sayin')

how about creating a new project in our own namespaces, run the tests, trash the project?

[2019-07-18 08:08] marusinm opened #127 "edit Github release"
Can we create a method for editing a release? We can use [this](https://pygithub.readthedocs.io/en/latest/github_objects/GitRelease.html#github.GitRelease.GitRelease.update_release) for it.

[2019-07-18 08:08] TomasTomecek commented on #123
We're just trying zuul out, please let us know if it's inconsistent - this is the exact thing we are trying to investigate in coming weeks before we decide on switching from jenkins to zuul.

Zuul results should not be blocking.

[2019-07-18 08:19] lachmanfrantisek commented on #124
Random contributor not, but for people interested in the project, we can add access to that one project easily.

Yes, that would be another solution.

[2019-07-18 10:02] TomasTomecek commented on #125
It would be awesome, if this worked with our internal gitlab instance.

[2019-07-18 10:05] lachmanfrantisek commented on #125
Yes, it needs to be handled in the same way as with Pagure, where we can have multiple `PagureService` instances with different `instance_url`.

[2019-07-18 17:28] yzhang2907 commented on #126
@marusinm I added the method, will submit PR now. Thank you!

[2019-07-22 09:03] phracek opened #132 "fnc `who_can_merge_pr` fails with traceback"
In `packit-service`, I am using method `who_can_merge_pr` for getting users who can merge PR.

* `get_owners` for repository `packit-service/packit-service` returns list `['packit-service']`
[code]
* `who_can_merge_pr` for repository `rebase-helper/rebase-helper` returns list like `{'FrNecas', 'uhliarik', 'phracek', 'nforro', 'thozza'}` but for `packit-service/packit-service` repo it failed with t

[2019-07-22 10:39] phracek commented on #132
After some analyses, I have found a problem.
Function `get_collaborator_permission` was added by commit https://github.com/PyGithub/PyGithub/pull/881
which was merged 27 Aug 2018 and released with version PyGithub (1.43) (https://github.com/PyGithub/PyGithub/releases/tag/v1.43)
In my `packit-service` container I have
[code]
I would add dependency into PyGithub >= 1.43
I will test it and let you kn

[2019-07-22 11:01] phracek commented on #132
With the latest version of PyGithub all works properly.
See logs
[code]

[2019-07-22 14:20] TomasTomecek commented on #132
Seems like no one updated python-pygithub in Fedora for quite some time: https://koji.fedoraproject.org/koji/packageinfo?packageID=16053

[2019-07-23 07:53] phracek opened #133 "Look at possibility for reseting or get rid off checkes in GitHub"
TLDR: Investigate if it is possible to reset PR/commit flags. (*added by @lachmanfrantisek*)

----

I solved a problem with reset Copr build statuses.
Like can be seen here: https://github.com/packit-service/hello-world/pull/9

It would be nice to look at the possibility if in case of the pull request is not created by a collaborator to get rid of check statuses. Like nothing is shown and the pull

[2019-07-23 08:41] TomasTomecek commented on #133
what is the ask here? could you please write down what do you expect to be done?

[2019-07-23 08:42] lachmanfrantisek commented on #133
I've already changed the description.

[2019-07-23 11:52] lachmanfrantisek opened #134 "new minor release"

[2019-07-23 11:55] #134 closed

[2019-07-31 09:54] TomasTomecek opened #139 "installing python3-gdal breaks ogr"
they have a file called ogr.py:
[code]

So now that I installed python3-gdal, I can't use ogr anymore:
[code]

No idea how to fix this.

WTF

[2019-07-31 10:46] TomasTomecek commented on #139
Now that I'm looking at this, it looks pretty nasty to place a file in `site-packages`:
[code]

It would be for the best to reach out to maintainers behind the gdal package and discuss with them.

[2019-08-08 09:03] TomasTomecek opened #143 "GitHub check descriptions can only be 140 chars long"
[code]

[2019-08-09 21:53] dustymabe opened #146 "the url in an issue object is the API url"
Just checking to see what is the desired behavior. I create an issue and then print the url from the created issue. I'd then like to open that url in a web browser and have it go to the graphical UI and not the API.

For example:

[code]

But what I really want is the url to the web frontent. So `i.url.replace('api/0/','')`. What is the intended behavior?

[2019-08-09 22:23] dustymabe opened #147 "create label* functions for pagure backend"
Would be nice to be able to manipulate labels on pagure issues. i.e. `get_issue_labels()` `add_issue_labels()`, etc..

*update by @lachmanfrantisek:*

TODO:
- [x] `labels` property for `PagureIssue` class (https://github.com/packit-service/ogr/pull/321 by @cverna )
- [x] `labels` argument for `PagureIssue.create` and `PagureProject.create_issue` (https://github.com/packit-service/ogr/pull/321 by @

[2019-08-10 08:01] lachmanfrantisek commented on #146
Good catch!

You are right. The web-url would be more useful.

[2019-08-10 08:10] lachmanfrantisek commented on #146
Related line:

https://github.com/packit-service/ogr/blob/master/ogr/services/pagure.py#L638

Here is a function that we are calling:

[code]

Using this parameter should be enough:

[code]

[2019-08-10 08:14] lachmanfrantisek commented on #147
Thanks for the request.

We need to look into the [pagure API](https://src.fedoraproject.org/api/0/) to see if it is possible to manipulate with that via API.

[2019-08-10 11:15] rpitonak commented on #147
cc @marusinm as I think he already tried to solve this.

[2019-08-10 12:45] lachmanfrantisek commented on #147
Yes, we were discussing that with Marek and there is no API for manipulation with labels from what we know.

[2019-08-10 14:15] rpitonak opened #149 "comment in `.packit.yaml` generated by packit is ambiguous"
We came to the problem during our Flock workshop [this comment](https://github.com/packit-service/packit/blob/daad3f859762cd8bdf89d32365bae118ca32c31b/packit/constants.py#L70) is confusing for users.
[code]

 It might indicate that these options could be deleted completely when the downstream name equals to the upstream.

[2019-08-13 07:11] #124 closed

[2019-08-13 07:27] #127 closed

[2019-08-14 08:26] lachmanfrantisek opened #152 "SPIKE: httmock"
I've just met the **httmock** library when fixing one bug in python-gitlab.

What do you think about it, can we use it?

- https://github.com/patrys/httmock :computer:
- packaged in fedora :package:

Some quck notes:
- works only for `requests`
- can easily return fake results for matching urls
- Can we simplify the whole saving magic with this?

[2019-08-14 13:41] jpopelka commented on #139
[Filled upstream](https://github.com/OSGeo/gdal/issues/1781)

[2019-08-14 15:30] TomasTomecek commented on #152
looks pretty useful, worth giving it a shot

[2019-08-15 07:11] #146 closed

[2019-08-15 08:12] #123 closed

[2019-08-15 14:34] #125 closed

[2019-08-15 15:27] lachmanfrantisek opened #157 "Mention GitLab support in README"
Since we [now](https://github.com/packit-service/ogr/pull/150) support GitLab, we need to update our README to show it.

+ [ ] and provide brief docs how to use it (@TomasTomecek had to google a bit)

[2019-08-15 15:29] lachmanfrantisek opened #158 "Missing features in GitLab implementation"
Since we merged [the PR with the basic GitLab support](https://github.com/packit-service/ogr/pull/150) is there still something missing?

- [x] service mapping (#156 )
- [x] fix the mix of new and old API (#167 )
- [x] missing methods:
    - [x] forking: https://github.com/packit-service/ogr/issues/168
    - [x] owners and permissions: https://github.com/packit-service/ogr/issues/169
    - [x] get

[2019-08-15 18:50] rpitonak commented on #157
also a new release, WDYT?

[2019-08-15 18:57] TomasTomecek commented on #157
... and add to readme after the release?

[2019-08-19 07:47] TomasTomecek commented on #147
Would be nice if someone opened a request at pagure upstream and linked the issue here :)

[2019-08-20 07:18] lachmanfrantisek commented on #147
Any volunteer? OK, I'll create an issue. (I have a list of issues for pagure that I would like to create...;-)

[2019-08-20 07:31] lachmanfrantisek commented on #147
There is already an issue for that:

https://pagure.io/pagure/issue/2175

[2019-08-20 07:45] lachmanfrantisek commented on #157
But please, wait for #156 (I need to add another test for it).

[2019-08-20 12:11] lachmanfrantisek opened #159 "Add method for loading instances from dict"
In [packit](https://github.com/packit-service/packit) and [upsint](https://github.com/packit-service/upsint/), we need to load authentication for services from files.

It would be nice to have a method for loading instances from `dict` so we can use it from multiple projects.

[code]

[2019-08-20 13:23] dustymabe commented on #147
thanks @lachmanfrantisek for linking the two issues

[2019-08-21 07:20] TomasTomecek commented on #159
would be nice to see the dict definition before working on an implementation

[2019-08-21 07:22] lachmanfrantisek commented on #159
I've proposed one in the description.

key: "server_url"
value: dict with arguments passed to `__init__`

[2019-08-21 07:42] lachmanfrantisek commented on #159
This approach is good for most use-cases but does not allow custom mapping. (When the mapping url->servise-type is not known to us.)

We can add some optional argument for that:

[code]

[2019-08-21 08:48] lachmanfrantisek commented on #159
@TomasTomecek Feel free to discuss the format in the PR: #160

[2019-08-29 09:31] TomasTomecek opened #161 "pagure: support new way of creating PRs from forks"
https://src.stg.fedoraproject.org/api/0/#pull-requests

we just need to use the new fields such as repo_from which were added to the API in order to create PRs from forks to parent repos.

follow up to https://github.com/packit-service/packit/pull/496
blocks https://github.com/packit-service/packit.dev/pull/42

likely packit will need some code changes to support this

[2019-09-02 09:12] lachmanfrantisek opened #162 "Be able to use path to private_key for GitHub app authentication"
When authenticating as a GitHub-app we currently need a private_key as a string.

It would be very convenient (and very usefull when having #160 ) to have another attribute for the private-key path.

The code can be moved/stolen [from packit](https://github.com/packit-service/packit/blob/master/packit/upstream.py#L88).

[2019-09-02 10:30] #159 closed

[2019-09-02 12:11] lachmanfrantisek commented on #161
@TomasTomecek I am not sure if need to change anything:

Since we are using the default behaviour, it means:

- Using the `origin` instance, it will create a pull-request from `origin` to `origin`.
- Using the instance of the `fork`, it will create a pull-request from `fork` to `origin`.
- **We are missing the functionality to create pull-request from `fork` to `fork` itself and from `fork` to `or

[2019-09-04 05:38] TomasTomecek commented on #161
It won't, try it on stg. Pagure 5.7 changed this.

Reproducer: https://pagure.io/fedora-infrastructure/issue/8115#comment-591170

[2019-09-04 17:06] lachmanfrantisek commented on #161
Do I get it right, that this is a bug on the Pagure site? So I am not sure how you want to fix that. (We can discuss that tomorrow in person.)

[2019-09-05 06:16] TomasTomecek commented on #161
yes, let's discuss in person

[2019-09-05 08:58] lachmanfrantisek opened #164 "Overwrite the dangerous values from response files"
Filter the response files to values like `token` and overwrite them with some dummy value.

[2019-09-05 09:00] #162 closed

[2019-09-05 10:08] lachmanfrantisek commented on #161
OK, the docs are outdated and the current version works by default fork->fork when running from fork and upstream->upstream when running from upstream.

We need to use the `repo_from` fields to be able to achieve our `fork->upstream` approach. (We agreed that we want to leave the current API of OGR as is and fix only the implementation.)

[2019-09-05 13:37] lachmanfrantisek opened #165 "Update and link the contribution guide in README"
- [x] The contribution guide should be accessible from the README.md. (#265 )
- [ ] We need to be sure that the guide is current and describes the testing approach well.
- [ ] Document `/packit` command.

[2019-09-06 01:34] RomaneGreen commented on #165
I'd like to tackle this issue

[2019-09-06 05:28] lachmanfrantisek commented on #165
@RomaneGreen Thanks for your interest, that was quick!

It's nice that we have a new contributor to work on our contribution guide..;)

[2019-09-06 05:46] lachmanfrantisek commented on #158
I am currently fixing some naming issues after the merge of the first version. (We have mixed the old and new API a bit.) After that, I'll update this issue and we will have a couple of good-first-issues..;)

[2019-09-06 06:37] lachmanfrantisek commented on #158
Old code snippet for forking that I need+want to remove:

[code]

[2019-09-06 07:20] lachmanfrantisek opened #168 "Implement GitLab methods for forking"
[code]

[2019-09-06 07:20] lachmanfrantisek opened #169 "Implement GitLab methods for owners and permissions"
[code]

- https://python-gitlab.readthedocs.io/en/stable/gl_objects/projects.html#project-members
- https://docs.gitlab.com/ce/api/members.html

[2019-09-06 07:21] lachmanfrantisek opened #170 "Implement GitLab method: get_sha_from_tag"
[code]

- https://python-gitlab.readthedocs.io/en/stable/gl_objects/commits.html

[2019-09-06 07:22] lachmanfrantisek opened #171 "Implement GitLab methods for issue labels"
[code]

- https://python-gitlab.readthedocs.io/en/stable/gl_objects/issues.html
- https://docs.gitlab.com/ce/api/issues.html

[2019-09-06 07:23] lachmanfrantisek opened #172 "Implement GitLab methods for commits"
[code]

- https://python-gitlab.readthedocs.io/en/stable/gl_objects/commits.html
- https://python-gitlab.readthedocs.io/en/stable/gl_objects/commits.html#commit-comments
- https://python-gitlab.readthedocs.io/en/stable/gl_objects/commits.html#commit-status

[2019-09-06 07:23] lachmanfrantisek opened #173 "Implement GitLab methods for pr close/merge"
[code]

[2019-09-06 07:23] lachmanfrantisek opened #174 "Implement GitLab methods for PR labels (merge-request labels)"
[code]

- https://python-gitlab.readthedocs.io/en/stable/gl_objects/mrs.html
- https://docs.gitlab.com/ee/api/merge_requests.html

[2019-09-06 07:24] lachmanfrantisek opened #175 "Implement GitLab methods for project info"
[code]

- https://python-gitlab.readthedocs.io/en/stable/gl_objects/projects.html
- https://docs.gitlab.com/ce/api/projects.html

[2019-09-06 07:24] lachmanfrantisek opened #176 "Implement GitLab method for latest release"
[code]

- https://python-gitlab.readthedocs.io/en/stable/gl_objects/projects.html#project-releases
- https://docs.gitlab.com/ee/api/releases/

[2019-09-06 07:58] jscotka opened #177 "adding storing exception to RecordRequest class in utils caused regression"
see log:
https://softwarefactory-project.io/logs/13/513/8c3c6370096e5834c90dc5ff06e47cf9f3443cde/check/tests-pip-deps/cd79e16/job-output.txt.gz
with git master it works, but pypi and rpm version of ogr fails with errors like:
**TypeError: __init__() got an unexpected keyword argument 'exception'**

[code]

[2019-09-06 08:32] lachmanfrantisek commented on #157
It looks like we need to wait for a group of issues #158

[2019-09-06 10:41] jpopelka opened #178 "Replace git-wrapping code with new or existing library"
Investigate existing libraries (example https://github.com/release-depot/git_wrapper).
Decide whether to use an existing library or move our [git-related code](https://github.com/packit-service/ogr/blob/master/ogr/utils.py) (check for all occurrences of "git" through the code) into a new library.
Use such library in ogr.

[2019-09-09 08:16] lachmanfrantisek opened #181 "Avoid saving author of the last generated response-files"
Currently, we need to know the author of the generated files, because we do not know the owner of the fork we are using. (When we are not setting the `PAGURE_USER` token, e.i. in CI.)

AI: Fix the need of `LAST_GENERATED_BY = ` constant.

[2019-09-09 08:16] #161 closed

[2019-09-09 09:11] lachmanfrantisek commented on #181
Try to get the username from the TOKEN. It will be saved in the response file so it's always grouped with the responses and we do not need any global constant.

[2019-09-10 11:44] #176 closed

[2019-09-10 11:56] #175 closed

[2019-09-10 14:30] #170 closed

[2019-09-11 07:57] TomasTomecek opened #188 "new minor release"

[2019-09-11 07:59] #188 closed

[2019-09-11 14:03] lachmanfrantisek opened #193 "Investigate 'open' x 'opened' status for Issues and PullRequests"
We are using `open` in the status enums, but `closed`.

Currently, we need to replace that for GitLab manually and GitHub probably needs that fix as well. I am not sure about Pagure.

Ideally, we need to change our API, but we have some usages in other projects:

- [ ] packit
    - https://github.com/packit-service/packit/blob/master/tests/testsuite_basic/conftest.py#L114 (just a test)
- [x] packi

[2019-09-12 08:49] phracek opened #194 "Release 0.7.0 by /packit propose-update"

[2019-09-12 10:02] rpitonak opened #196 "Examples for ogr usage using Jupyter notebook"
We have recently added a short usage section into the README.md (#195).

It would be nice to create a new folder in the root of this repository called `examples` and demonstrate various ogr functions.

For me, the best way how to do it is to create a [Jupyter notebook](https://jupyter.org/) as it is supported by GitHub and we can easily combine code snippets, with outputs and comments in Markdown.

[2019-09-13 08:04] lachmanfrantisek opened #199 "Do not let the external exception go to the user"
It is sometimes hard to get the right problem when a user receives a long traceback with some GitHub/GitLab exception at the end. Those exceptions are not always clear or too general (`e.g. Object not found`).

We can probably do better and raise our exceptions that will have much clearer message since we usually know the context (e.g. `PR with id={id} not found.`).

AC:

Go through the code and c

[2019-09-18 09:06] lachmanfrantisek opened #203 "Implement GitHub method for create_project"
[code]

The methods for creating projects are in two places:

- user:
    - [Github.get_user](https://pygithub.readthedocs.io/en/latest/github.html#github.MainClass.Github.get_user)
    - [User.create_repo](https://pygithub.readthedocs.io/en/latest/github_objects/AuthenticatedUser.html#github.AuthenticatedUser.AuthenticatedUser.create_repo)
- namespace:
    - [Github.get_organization](https://pygi

[2019-09-18 09:09] lachmanfrantisek opened #204 "Implement Pagure method for create_project"
[code]

API documentation:
https://pagure.io/api/0/#projects

AC:

- [ ] implement the method in `PagureService`
- [ ] create at least two tests for that (with and without specifying `namespace`)

[2019-09-18 09:19] lachmanfrantisek opened #205 "Fix/implement get_issue_comments"
In abstract class `GitProject`, we have the following method:

[code]

This issue is not implemented in `GithubProject`, but the real implementation should be in the `_get_all_issue_comments`.

[code]

AC:
- [ ] Github/Pagure
    - [ ] implement the `get_issue_comments` with the code `_get_all_issue_comments` (There are some missing parameters.)
    - [ ] remove the `_get_all_issue_comments` and c

[2019-09-18 10:54] lachmanfrantisek commented on #100
Isn't this already fixed for GitHub and Pagure?

[2019-09-18 12:10] jpopelka commented on #49
Hi :grinning:

We are almost there, I'd say only [utils.py](https://github.com/packit-service/ogr/blob/master/ogr/utils.py) needs some more test coverage:
[code]

Such tests would be very uselful when working on #178

[2019-09-18 15:12] jpopelka commented on #194
Is there something to be fixed?

Can this issue be closed now?

[2019-09-19 07:00] lachmanfrantisek commented on #194
The `0.7.0` has been already released, and this was only a testing issue for Peťo.

[2019-09-19 07:00] #194 closed

[2019-09-19 08:09] #181 closed

[2019-09-19 08:56] TomasTomecek commented on #143
can we prio this over the gitlab work?

[2019-09-19 09:28] lachmanfrantisek commented on #143
Sure!

[2019-09-19 09:46] #172 closed

[2019-09-19 09:51] lachmanfrantisek opened #209 "Add info about git workflow to contribution guide (and other suggestions)"
It would be nice to add the following parts to CONTRIBUTING.md

- What is `git rebase` and how to rebase a pull-request.
    - We want to have a git tree like this:
![Snímek z 2019-09-19 11-43-15](https://user-images.githubusercontent.com/20214043/65233459-2712aa00-dad3-11e9-8849-6bb5babf75fe.png)
    - not this:
![Snímek z 2019-09-19 11-43-51](https://user-images.githubusercontent.com/20214043/65

[2019-09-19 09:52] lachmanfrantisek commented on #209
I am not sure about `good-first-issue` label.

[2019-09-19 10:30] TomasTomecek commented on #209
how about we added the req for rebase into pre-commit?

[2019-09-19 10:49] lachmanfrantisek commented on #209
Sounds very good!

[2019-09-19 14:18] #143 closed

[2019-09-19 18:48] lachmanfrantisek opened #211 "Add diff url to PullRequest class"
When working with PRs, there are also URLs linking directly to diff tab.

AC:
- [ ] In each implementation, add the `url_diff` and implement it.
    - Use API if possible, otherwise "guess" the URL.
- [ ] Improve the tests to use that.

Examples:

- https://gitlab.com/packit-service/ogr-tests/merge_requests/2/diffs
- https://github.com/packit-service/ogr/pull/1/files
- https://pagure.io/ogr-tests/

[2019-09-19 18:48] lachmanfrantisek opened #212 "Add commits url to PullRequest class"
When working with PRs, there are also URLs linking directly to commit list tab.

AC:
- [ ] In each implementation, add the `url_commits` and implement it.
    - Use API if possible, otherwise "guess" the URL.
- [ ] Improve the tests to use that.

Examples:

- https://gitlab.com/packit-service/ogr-tests/merge_requests/2/commits
- https://github.com/packit-service/ogr/pull/1/commits
- https://pagure

[2019-09-19 19:19] lachmanfrantisek opened #213 "Implement GitProject.get_url()"
In GitProject we do not have a method for getting web URL of the project.

AC:

- [ ] Add the method to `abstract.GitProject`. (And raise `NotImplementedError`.)
- [ ] Implement the method for all forges (GitHub, GitLab, Pagure).
- [ ] Add tests for this method.

Links:
- https://pygithub.readthedocs.io/en/latest/github_objects/Repository.html
- https://python-gitlab.readthedocs.io/en/stable/gl_ob

[2019-09-19 19:30] lachmanfrantisek opened #214 "[question] Allow objects representing nonexisting objects"
Currently, we can instantiate objects (i.e. GitProject), that does not exist.

We probably need to agree on the common understanding of this approach:

1. allow creating non-existing objects
    - add `exists() -> Bool` method
    - add `create() -> ????` methods
    - we do not need to connect to servers on each instantiation
    - due to laziness it can fail at not-predictable places
2. raise an

[2019-09-19 20:50] lachmanfrantisek commented on #214
It's also about documenting these "principles"...

[2019-09-20 05:36] lachmanfrantisek opened #215 "Implement GitProject.delete()"
Add method to project classes to delete a project.

AC:
- [ ] In each implementation, add the `delete` method to project class and implement it.
    - If possible/supported. (Document that if it is not possible and raise an exception with a good message.)
- [ ] Add tests for that.

Links:
- https://python-gitlab.readthedocs.io/en/stable/gl_objects/projects.html
- https://pygithub.readthedocs.io/en

[2019-09-20 05:46] lachmanfrantisek commented on #213
Or maybe `GitProject.get_web_url`?

[2019-09-20 05:52] lachmanfrantisek opened #216 "Adding collaborators to projects"
- [ ] Add the `add_to_collaborators` method to `abstract.GitProject`. (And raise `NotImplementedError`.)
- [ ] Implement the method for all forges (GitHub, GitLab, Pagure).
- [ ] Add tests for this method.

Documentation:

- https://python-gitlab.readthedocs.io/en/stable/gl_objects/projects.html#project-members
- https://pygithub.readthedocs.io/en/latest/github_objects/Repository.html
- https://pa

[2019-09-24 08:53] #213 closed

[2019-09-24 09:15] mfocko opened #218 "GitProject.full_repo_name() and Pagure implementation"
1. Property `full_repo_name` is implemented both in `BaseGitProject` and `GitProject`
1. `full_repo_name` doesn't handle non-existing namespace (in case of Pagure projects)

[2019-09-24 09:16] mfocko commented on #218
Also add tests? I haven't found any.

[2019-09-24 19:01] mfocko commented on #107
`issue_list` should be ok.

Probably wrap `self.github_repo.get_issue` so it checks for PR? It's used in 5 (probably should be 6) places.

In `_get_all_issue_comments` it retrieves the issue by calling `get_pull`, is that a typo probably?

[2019-09-25 05:20] #218 closed

[2019-09-25 06:05] lachmanfrantisek commented on #107
Nice! Thanks for checking that -- some tests would be fine.

You can create some private method for that, that will be used in those five/six places. (This method should take care about getting the issue object and checking that it is not a PR.)

Good catch! Definitely a bug!

[2019-09-25 06:13] lachmanfrantisek opened #220 "PagureProject.full_repo_name touches service"
This property violates our rule that only methods with `get` can touch the real servers.

We can:

- Revert the change and stay with guessing.
- Change the property to `get_full_repo_name` (needs deprecation to original property)
- Change our mind and do not be strict about that. (And use properties instead of methods for objects.)
    - This will bring nicer user-experience, but maybe some confus

[2019-09-25 08:34] #171 closed

[2019-09-25 08:50] lachmanfrantisek commented on #174
Resolved in #198

[2019-09-25 08:50] #174 closed

[2019-09-25 10:00] mfocko commented on #220
What about implementing the same way as in base class?

[code]

[2019-09-25 10:54] lachmanfrantisek commented on #220
Yes, this is one of the solutions. I just wanted to get a common agreement on that.

[2019-09-25 11:30] mfocko commented on #107
For now there's one checking the list of issues.
I'll add more for checking the thrown exceptions from other related functions later.

Resolved by throwing exception from `_issue_from_github_object`, so I think there's no need for wrapper.

[2019-09-26 09:12] #107 closed

[2019-09-26 09:28] mfocko commented on #205
I'll take it.

[2019-09-26 10:43] #169 closed

[2019-09-26 10:59] lachmanfrantisek commented on #158
@lbarcziova Nice job with all these pull-requests. We are finally done!

[2019-09-26 10:59] #158 closed

[2019-09-26 11:01] lachmanfrantisek commented on #157
The issues are resolved so we are ready to go!

(Let's release a new version and change the Readme after that as Tomas suggested.)

[2019-09-26 11:06] lachmanfrantisek opened #222 "new minor release"
The release time is now!

[2019-09-26 11:11] #222 closed

[2019-09-26 11:56] mfocko opened #224 "Identical implementation for collaborators (Github Project)"
In `GithubProject` class there is identical implementation for `who_can_close_issue` and `who_can_merge_pr`, is it intentional? Or can we factor it out since it's identical?

[2019-09-26 11:59] rpitonak commented on #214
Add parameter `verify=True` to `get_project` method. We would be still able to create "fake projects".

[2019-09-26 13:04] jscotka opened #225 "remove persistent storage + mocking from ogr after using requre"
After there will be done these stuff:
 - [ ] https://github.com/packit-service/ogr/pull/201 will be merged
 - [ ] there will be fixed also ``packit`` to use ``requre``

then remove all mocking stuff from this project

[2019-09-26 14:37] lachmanfrantisek commented on #220
After some short discussion, we would like to have properties strictly offline. => We need to implement the `full_repo_name` without touching API.

(Sorry @mfocko to forcing you to use the API..;)

[2019-09-26 14:48] mfocko commented on #220
Consider it fixed

[2019-09-26 15:30] mfocko commented on #205
Are you sure this is only GitHub?
- GitLab throws `NotImplementedError`
- Pagure has it implemented the same way as GitHub

[2019-09-26 17:39] lachmanfrantisek commented on #205
Feel free to fix that in all implementations..;)

You can also add some shared code to the `services.base.BaseGitProject` as we did for pr comments. (If needed.)

[2019-09-26 17:42] lachmanfrantisek commented on #205
I've updated the description to cover all implementations.

[2019-09-26 17:51] lachmanfrantisek commented on #224
Yes, we can extract that logic to some helper private function.

[2019-09-30 11:40] #224 closed

[2019-10-01 07:47] lachmanfrantisek opened #229 "Investigate online x offline handling"
In #226 we found multiple problems with the offline x online handling.

We need to:

- [ ] agree on the rules (e.g. properties cannot touch the services)
- [ ] document the rules
- [ ] fix the current implementation(s) to satisfy the rules
    - use deprecations if needed

Related to #214

[2019-10-01 17:40] mfocko opened #230 "Factor out Comment"
Part of #86

Structure of classes:

* _Comment_
  * _IssueComment_
    * GithubIssueComment
    * GitlabIssueComment
    * PagureIssueComment
  * _PRComment_
    * GithubPRComment
    * GitlabPRComment
    * PagurePRComment

suggested by @lachmanfrantisek in #228

* [x] Create a `Comment` abstract class
* [x] Implement base class for `Comment`
* [x] Implementation of services
  * [x] Github
  * [x

[2019-10-02 09:17] #220 closed

[2019-10-02 12:39] mfocko commented on #230
Just a thought, shouldn't we reorganize the file structure?
if we end up with separate classes (issue, comment, pr, release; not sure about more, only glanced through the github implementation) won't those files become... crowded?

[2019-10-02 13:43] lachmanfrantisek commented on #230
That's what I was thinking about for some time -- what about module (subfolder) for each implementation?

[2019-10-02 13:54] mfocko commented on #230
you mean
[code]
or
[code]

[2019-10-02 14:18] lachmanfrantisek commented on #230
I mean the first one to be able to have imports like `from ogr.services.github import GithubService, GithubIssue`. (We don't need to change anything in the outside code since the imports stay the same.)

The goal of the #86 is to have the objects dynamic. (And we cannot do that without forwarding some internal dynamic objects to the newly created instance.)

Yes, this looks good!

(If it is a shor

[2019-10-03 14:35] #205 closed

[2019-10-04 10:50] mfocko commented on #230
regarding the file structure for implementation... Should I use it for tests too?

[2019-10-04 10:58] lachmanfrantisek commented on #230
Good point, it makes sense to me. I am only not sure if the loading of the response files doesn't break.

[2019-10-04 10:59] mfocko commented on #230
ok... I'll just try to separate the comments to separate classes in those files for now?

[2019-10-05 09:52] mfocko opened #232 "Prepare file structure for object-specific methods (#86)"
Split service implementations into separate directories, module for each class

- [x] Directory for each service
- [x] GitHub
  - [x] split implementation into multiple modules
  - [x] add `__init__.py` to make imports compatible
  - [x] update tests, since they store "full path" of caller
- [x] GitLab
  - [x] split implementation into multiple modules
  - [x] add `__init__.py` to make imports com

[2019-10-05 12:52] UmarJ commented on #215
Hey @lachmanfrantisek, I'd like to work on this issue.

[2019-10-05 15:21] mfocko opened #233 "Gitlab tests imports"
Gitlab tests import `PRStatus` and `IssueStatus` from `ogr.services.gitlab` instead of `ogr.abstract`

[2019-10-05 20:11] mfocko commented on #232
- [ ] resolve circular dependencies...

[2019-10-06 12:57] mfocko commented on #86
- [ ] Prepare file structure
- [ ] Comments

[2019-10-06 19:45] lachmanfrantisek commented on #215
@UmarJ Nice! Feel free to ask if you need some help with that. (Also [our contribution guide](https://github.com/packit-service/ogr/blob/master/CONTRIBUTING.md) can be helpful.)

[2019-10-07 05:23] UmarJ commented on #215
I'll get right on it!

[2019-10-07 11:02] #233 closed

[2019-10-07 14:07] mfocko commented on #232
Do you want to regenerate all test data or "hacking" the classnames would do?

[2019-10-07 14:11] lachmanfrantisek commented on #232
If the "hacked" version does not differ in the important parts, you can use that approach. (E.g. dates and other non-used staff is not important to us)

Please, try to regenerate (locally) at least one test to check the difference.

[2019-10-07 14:14] mfocko commented on #232
it's just changing the "full class name"? basically `ogr.services.github` -> `ogr.services.github.project`, etc.

Will do.

[2019-10-09 05:48] jscotka opened #237 "add reverse dependency testing to packit package"
similar to https://github.com/packit-service/requre/issues/29
please add reverse dependency testing what will check that change will not break ``packit`` and in case it is broken, will raise that you have to create issue to packit to regenerate response files, or that it found bug in ogr.

[2019-10-09 06:31] TomasTomecek commented on #237
+ packit-service

[2019-10-09 13:42] mfocko commented on #204
I'll take it

[2019-10-09 15:23] lachmanfrantisek opened #240 "Filter comments by author"
Add possibility to filter PR/issue comments by their author.

- [ ] Extend the methods of `GitProject` in `ogr/abstract.py`.
- [ ] Extend the `BaseGitProject` in `ogr/services/base.py` if needed.
- [ ] Implement the support both for PRs and issues. (Share as much code as possible -- implementation and pr/issue)
  - [ ] github
  - [ ] gitlab
  - [ ] pagure

[2019-10-11 06:36] #232 closed

[2019-10-11 11:18] mfocko commented on #240
I'll take it

[2019-10-14 13:29] lachmanfrantisek opened #245 "Determine the reason of project_create failure in Pagure namespace"
When creating a project in Pagure and setting the namespace, we get a general `not a valid choice`.

It would be useful to determine these two possibilities:

- non-existing namespace
- no permissions

---

The follow-up to #242 .

[2019-10-14 13:38] mfocko commented on #245
Getting _Group information_ probably?
https://pagure.io/api/0/#groups
If it doesn't exist, we should get `not a valid choice` again, I hope...
If it exists, we should get info, right? Or can you have private group?

[2019-10-15 07:21] lachmanfrantisek commented on #216
Should be resolved by #244

[2019-10-15 07:33] #204 closed

[2019-10-15 10:49] #240 closed

[2019-10-17 13:55] lachmanfrantisek opened #250 "Fix createing pull requests in GitHub"
The default behaviour should be:

- running from fork:
    - create pr from fork to upstream
- running from upstream:
    - create pr from upstream to upstream

We need to specify correctly the username in `head` or use the correct pygithub object to call the `create_pull` on.

- Get inspired in packit: https://github.com/packit-service/packit/blob/master/packit/upstream.py#L190
- API docs: https:

[2019-10-18 20:43] mfocko commented on #225
not valid anymore?

[2019-10-21 11:43] lachmanfrantisek commented on #225
I hope so. @jscotka , can you confirm that?

[2019-10-22 12:09] lachmanfrantisek opened #251 "Strict mypy"
There are many warnings and errors when running `mypy` in a strict mode. Each error can mean potentially problematic part of the code. (The goal is to make the code better, not only to silence the mypy.)

It would be nice to reduce the number of errors/warnings.

What you can do:
- Run the mypy on the code:
[code]
- pick an error/warning
- try to fix the problem which can mean
  - adding a type an

[2019-10-22 20:27] maniis commented on #251
Hi @lachmanfrantisek
Please review #252

[2019-10-22 20:54] pywkm commented on #251
LOL :D
I'm not sure, but @lachmanfrantisek probably meant something else than turning off the types check entirely. ;)

[2019-10-22 21:00] pywkm commented on #251
I came here encouraged by the issue title. I have some experience in type annotations in Python and could probably help here, so @maniis, if you have no intention to actually fix those errors/warnings, I would like to be second in line. ;) Just say a word.

[2019-10-22 21:32] maniis commented on #251
@pywkm Yes, you can also try. I am not sure which errors/warnings to ignore so I added it to each file.
@lachmanfrantisek If you can guide I will do it.

[2019-10-23 07:23] lachmanfrantisek commented on #251
@pywkm, you are right -- We would like to fix those errors/warnings.

Can I close your PR, @maniis, since it's not what we want? But, thanks for the interested! You can look e.g. to [mypy docs](https://mypy.readthedocs.io/en/latest/cheat_sheet_py3.html) for more information about type annotations. You can also pick other [good-first-issues from this repo](https://github.com/packit-service/ogr/issu

[2019-10-23 12:10] pywkm commented on #251
@lachmanfrantisek sure, will start work on it today. Some fixes are trivial, some will require more work. We will probably need to make a few iterations after I open PR.
For instance those two:
[code]
are caused because [here](https://github.com/packit-service/ogr/blob/0b4b0cae098dc1c0cbec9d033732dbd4932a4f28/ogr/parsing.py#L75) `None` might be returned (and type says about it properly `Optional[R

[2019-10-23 12:26] lachmanfrantisek commented on #251
Yes, I agree.

Yes, we need to fix/change the code in those places too -- this is why I like mypy that we can discover possible problems that need some extra handling.

This specific problem [I've fixed](https://github.com/packit-service/ogr/blob/e26a33a32cf0f3a51979a9ca69901b63f0288982/ogr/services/base.py#L42) in the opened pull-request..;)

Nice!

[2019-10-23 13:09] #230 closed

[2019-10-23 19:37] pywkm commented on #251
@lachmanfrantisek
What's up with those functions in `utils` module: `clone_repo_and_cd_inside`, `set_upstream_remote`, `set_origin_remote` and `fetch_all`?
They aren't used anywhere (searching usages is first thing I do, when trying to determine type of arguments) nor tested. Can I remove them? I'm not a big fan of maintaining unused code. ;)

[2019-10-24 00:46] pywkm commented on #251
I'm sorry, I have to give up. I naively thought, that without knowing project I can add missing type annotations here and there and all will be fine. You know, "good-first-issue". ;)

After many hours I realized this work should be done by someone who knows project better and knows, for instance, why service inheritance is `GithubService -> BaseGitService -> GitService` but at the same time `Gitla

[2019-10-24 07:37] lachmanfrantisek commented on #251
Yes, they are relicts from the project's history.

[2019-10-24 07:44] lachmanfrantisek commented on #251
Sorry about that. I thought that at least some of the problems can be fixed easily without knowing the project deeply.

Good catch! That's definitely what I want to achieve with this -- to find such problems. (The `GitlabService` has to inherit from the base one as well.) Thanks for that.

They have to be compatible. If not, there is a problem..;)

IMHO.

Yes, mypy error is only a mark of the pote

[2019-10-24 07:53] lachmanfrantisek commented on #251
I've updated the issue description a bit to describe in a better way what's expected.

[2019-10-24 17:13] mfocko opened #253 "Issue class refactor"
Extend `Issue` class of methods.

- [x] move issue-related functions from `Project` to `Issue`
- [x] make `Project`'s methods backward-compatible by calling new methods
- [x] deprecate functions on `Project`
- [x] separate all issue-related tests if needed
- [x] `__get_comment`, `get_issue_comments`

Part of #86
Blocked by #121

[2019-10-24 17:14] mfocko opened #254 "PullRequest class refactor"
Extend `PullRequest` class of methods.

- [x] move PR-related functions from `Project` to `PullRequest`
  - [x] `BasePullRequest`
  - [x] Github
  - [x] Gitlab
  - [x] Pagure
- [x] make `Project`'s methods backward-compatible by calling new methods
- [x] deprecation
  - [x] move deprecated functions to base class
  - [x] deprecate functions on `Project`
- [x] properties
- [x] fix tests

Part of #8

[2019-10-24 17:16] mfocko opened #255 "Backward links on comments"
`Comment` class should keep backward-link to parent, e.g. `Issue` or `PullRequest`.

- [x] Add parameter to constructor and getter
- [x] Keep link to `Issue`
  blocked by #253
- [x] Keep link to `PR`
  blocked by #254

[2019-10-25 06:43] lachmanfrantisek commented on #237
The packit reverse-dependency testing done in #241.

[2019-10-25 06:45] lachmanfrantisek commented on #237
I would wait for the stabilising the packit-service tests with that.

[2019-10-29 09:31] jpopelka opened #261 "[get_service_class_or_none()] TypeError: argument of type 'NoneType' is not iterable"
Seeing this on prod:

[code]

[2019-10-31 17:27] lachmanfrantisek commented on #261
The `get_service_class_or_none` requires non-None `url` argument:
https://github.com/packit-service/ogr/blob/master/ogr/factory.py#L103

(The problem is in the code before the function call.)

[2019-11-02 14:16] svenharris opened #263 "Improve class structure for Labels type"
The current implementation of labels has no implementation of GitLabel defined in the abstract classes, which would be consistent with what is done for GitUser, GitProject etc. This is leading to inconsistent typing in the library where we have the following function signatures within the codebase:

abstract.py
`def get_issue_labels(self, issue_id: int) -> List[Any]`

github/project.py
`def get_is

[2019-11-02 20:03] NNRepos commented on #215
@lachmanfrantisek would these make sense?
first test inside tests/integration/test_gitlab.py/GenericCommands:
test_create_and_delete_project_from_service():
create project (with gitlab/service.py/project_create)
delete project (with gitlab/service.py/project_delete)

second test inside tests/integration/test_gitlab.py/GenericCommands:
test_create_and_delete_project_from_project():
create project (

[2019-11-06 08:05] lachmanfrantisek commented on #229
After yesterdays discussion with @mfocko, I would propose these rules:
- Offline `__init__` methods => we can construct non-existing projects (version 1 in #214 ).
  - I am not 100% sure about this one.
  - We need to create `exists() -> bool` and `create()` methods.
- Offline properties have to be marked with `@offline` decorator.
  - The decorator will do nothing. It's just for documentation pur

[2019-11-06 11:36] dhodovsk opened #267 "Support for clearing checks"
Make it possible to clear check status on PR (optionally commit).

[2019-11-06 11:37] dhodovsk commented on #267
Dupe of https://github.com/packit-service/ogr/issues/133

[2019-11-06 11:37] #267 closed

[2019-11-10 21:28] sakalosj commented on #250
Hi,

i have created some first shot for this issue. question is what will break this changhe. At least  https://github.com/packit-service/packit/blob/master/packit/upstream.py#L190 will need be updated - i can do it once we you will have final solution.

I didnt create integration tests - because of this function involves pull-request creation i didnt wanted to mess with repositories. Instead i ha

[2019-11-11 14:00] jpopelka commented on #139
There's nothing we can do about this in `ogr` (other than hoping that `gdal` upstream fixes [it](https://github.com/OSGeo/gdal/issues/1781) asap).

[2019-11-11 14:00] #139 closed

[2019-11-12 13:27] Hojang2 commented on #178
Hi, I am working on this issue and I tried to implement GitPython library.
Here is [my fork](https://github.com/Hojang2/ogr)

[2019-11-12 15:25] jpopelka commented on #178
@Hojang2 Nice! We need you to create a Pull Request from https://github.com/Hojang2/ogr/tree/GitPython_implementation -> https://github.com/packit-service/ogr

[2019-11-13 11:21] mfocko opened #271 "Inherit docstrings"
Create a class decorator that would iterate through members of class and check if superclass has the same member with docstring, if so, copy the docstring.

Reduces the unnecessary copy-pasting of docstrings.

[2019-11-14 09:28] TomasTomecek commented on #133
So: can't fix? https://github.com/packit-service/packit-service/issues/140#issuecomment-552965285

[2019-11-15 14:28] TomasTomecek commented on #271
...or a metaclass :O

[2019-11-18 11:45] TomasTomecek commented on #209
so we just need to update our documentation right now, is that correct?

[2019-11-18 14:07] jpopelka commented on #49
Hmm, trying to search where the functions from utils.py are actually used hasn't revealed any occurrences.
I think most of the utils.py content is a candidate for removal.

[2019-11-18 14:22] pawelkopka commented on #270
@TomasTomecek I create PR what remove github tweak https://github.com/packit-service/ogr/pull/277.
Can you extend your thought "Use the newly added functionality in pygithub"? I checked tests and it looks like get_instances_from_dict allow to use Github apps:  https://github.com/packit-service/ogr/blob/78eb94adb8ba248fee8938cac9a7acf1ac6343e3/tests/unit/test_factory.py#L242

[2019-11-18 14:34] lachmanfrantisek commented on #270
Yes, it "should" not be needed to change anything... Just please check that tests covers that scenario.

[2019-11-18 18:40] pawelkopka commented on #270
Sorry for that. I updated PR.

[2019-11-19 09:00] TomasTomecek commented on #270
The PR is now merged: I'm assuming we're good here and can close this issue.

@pawelkopka thank you very much!

[2019-11-20 14:55] Hojang2 commented on #178
Hi, I am working on this issue and I tried to implement the GitPython library.
Here is  [my PR](https://github.com/packit-service/ogr/pull/274)

[2019-11-20 15:16] lachmanfrantisek commented on #178
Sorry, the #277 has wrong issue number for autoclosing.

[2019-11-20 15:17] lachmanfrantisek commented on #270
Closed by #277

[2019-11-20 15:17] #270 closed

[2019-11-22 11:06] pawelkopka opened #281 "Integrations tests fails afters change in requre"
After change in requre integrations tests, trying call property _is_write_mode_ .
Probably this _PersistentObjectStorage().is_write_mode_ need to be change to _PersistentObjectStorage().mode == StorageMode.write_

Error:
`AttributeError: 'PersistentObjectStorage' object has no attribute 'is_write_mode'`

[2019-11-22 12:37] lachmanfrantisek commented on #281
It's interesting, that the reverse-dep tests passed:

https://github.com/packit-service/requre/pull/65

[2019-11-25 12:33] #281 closed

[2019-11-26 08:52] #253 closed

[2019-11-27 11:41] mfocko commented on #121
@lachmanfrantisek Could you close it please? Should've been closed with #279

[2019-11-27 12:02] lachmanfrantisek commented on #121
Closed by #279, https://github.com/packit-service/research/pull/14 and https://github.com/packit-service/research/pull/20

[2019-11-27 12:02] #121 closed

[2019-11-29 10:21] #254 closed

[2019-11-29 11:43] #178 closed

[2019-12-03 11:21] #255 closed

[2019-12-03 14:14] jpopelka opened #288 "AttributeError: 'GithubPRComment' object has no attribute '_body'"
Any ideas how [this](https://sentry.io/organizations/red-hat-0p/issues/1369231585) could have happen?

[code]

[2019-12-03 16:04] #288 closed

[2019-12-04 08:49] lachmanfrantisek commented on #261
Can we close this or transfer to packit/packit-service?

[2019-12-04 08:50] lachmanfrantisek commented on #250
Fixed in https://github.com/packit-service/ogr/pull/269 thanks to @sakalosj

[2019-12-04 08:50] #250 closed

[2019-12-04 08:52] lachmanfrantisek commented on #229
Current implementation should satisfy the tules in [the previous comment](https://github.com/packit-service/ogr/issues/229#issuecomment-550193426).

We only need to document that.

[2019-12-04 08:54] lachmanfrantisek commented on #225
I think we are done with thid, @jscotka feel free to reopen if you see something missing.

[2019-12-04 08:54] #225 closed

[2019-12-04 08:57] lachmanfrantisek commented on #193
@mfocko I hope it's fixed in your PR: #276

Can we close this and fix potential problems in the packit / release-bot.

[2019-12-04 08:59] mfocko commented on #193
I'm not aware of changing that, I'll look into it

[2019-12-04 09:06] lachmanfrantisek commented on #86
@mfocko What's needed for the `Release`? Only the setters for properties?

[2019-12-04 09:25] lachmanfrantisek commented on #193
Thanks, you implemented it from scratch so it's probably fixed.

[2019-12-04 09:32] lachmanfrantisek opened #290 "new minor release"
There was done a lot of work after the last release. Let's make a new one!

[2019-12-04 09:37] #290 closed

[2019-12-04 10:57] mfocko commented on #86
- method to create object from `raw_release`
- fix tests
- looking at the code probably move some things from abstract to base class

[2019-12-04 11:09] lachmanfrantisek commented on #86
Thanks for the update

[2019-12-04 12:26] lachmanfrantisek commented on #193
The `opened` is not used anywhere. We don't need to change anything.

---

See the screenshot from gitlab:
![Snímek z 2019-12-04 13-20-30](https://user-images.githubusercontent.com/20214043/70142468-94c57f80-1699-11ea-9eed-2240eedb4e66.png)

- `open` means state
- `opened` is used in description as a verb

[2019-12-04 12:26] #193 closed

[2019-12-05 10:40] mfocko opened #295 "Restructure tests"
Split tests into files like the implementations are.

As @lachmanfrantisek suggested, it would be great to have both old tests (checking that deprecated interfaces are still usable) and new ones, but this would lead to keeping duplicates of test_data, since they would check the same things, but each would need separate yaml for responses.

So I suggest transition from old to new tests right after

[2019-12-13 13:48] lachmanfrantisek commented on #245
We are still interested.

[2019-12-26 21:35] mfocko opened #299 "Updating PullRequest info (Pagure)"
During the implementation of setters for PR for Pagure (#298) I've found out that Pagure's API requires title to be given (which seems a bit odd, since why would you need to give title when you want to update only description).

Will fix in PR above, just letting know about the bug.

[2020-01-02 07:42] lachmanfrantisek commented on #53
Yes, we still need it.

[2020-01-02 07:45] lachmanfrantisek commented on #112
We are still blocked by the Pagure API.

[2020-01-02 07:50] lachmanfrantisek commented on #147
We are still blocked by the Pagure API.

[2020-01-02 08:02] lachmanfrantisek commented on #100
- We have it in Gitlab as well.
- We have `can_merge_pr`/`who_can_merge_pr`/`who_can_close_issue` methods in the project classes.

Can we close this issue?

Or, do we want/need related methods in Issue/PR classes as well? (`my_issue.who_can_close`/`issue_can_close("username")`)

[2020-01-02 12:24] TomasTomecek opened #301 "RFE: get repo labels"
started porting upsint to ogr and realized that I can't get all labels defined on a repo

[2020-01-02 16:42] mfocko opened #302 "Issue setters (Pagure)"
Implement updating title and description of issue on Pagure when the API allows it.

Blocked by: [Pagure's issue](https://pagure.io/pagure/issue/4704)

[2020-01-03 08:24] lachmanfrantisek commented on #301
What about this:

https://github.com/packit-service/ogr/blob/2a0ba143f097addf1b00ac3ffc4b0855d6d0bd89/ogr/services/github/project.py#L413

[2020-01-03 08:25] lachmanfrantisek commented on #301
But property can be added as well. I am not sure if the setter makes sense for this.

[2020-01-03 08:43] #245 closed

[2020-01-03 09:14] TomasTomecek commented on #301
oh

[code]

so it's not even new - I missed it

[2020-01-03 09:14] #301 closed

[2020-01-03 10:13] #299 closed

[2020-01-03 12:19] lachmanfrantisek commented on #263
We need to look at it.

@mfocko You may probably now if this was fixed by your cllas restracture?

[2020-01-03 12:30] mfocko commented on #263
nope, it wasn't
what do we expect? just name and colour properties? or also methods and/or setters?

[2020-01-03 12:33] lachmanfrantisek commented on #263
The following properties would be nice:
- name
- colour
- description for GitHub/GitLab

[2020-01-03 12:35] mfocko commented on #263
what about getting issues/PRs by label? and setters?

looking at API, Pagure has "labels" just as strings that don't seem to be organized like github/gitlab does

[2020-01-03 12:39] lachmanfrantisek commented on #263
:+1:

OK, let's have an abstract label class with the name and Git* label classes with the other two properties.

[2020-01-03 14:36] TomasTomecek opened #303 "get_tags is not implemented for GithubProject"
[code]

[2020-01-03 14:54] lachmanfrantisek commented on #29
Probably outdated by the testing-farm. Reopen if you think we need the standard-test-roles.

[2020-01-03 14:54] #29 closed

[2020-01-03 14:56] lachmanfrantisek commented on #126
Pagure still misses that.

[2020-01-03 14:57] lachmanfrantisek commented on #211
#280 with fix is waiting for the rebase

[2020-01-03 14:58] lachmanfrantisek commented on #157
The release was done, we are ready for this change!

[2020-01-03 14:58] lachmanfrantisek commented on #196
We still want it.

[2020-01-03 15:00] lachmanfrantisek commented on #251
I've marked that as an epic so we are not receiving the messages from stale bot -- it's more a reminder to gradually fix those warnings.

[2020-01-03 15:01] lachmanfrantisek commented on #212
I still want to have it. It's a nice good-first-issue.

[2020-01-03 15:03] lachmanfrantisek commented on #216
Yes, I still want it because of [my project](https://gitlab.fi.muni.cz/xlachma1/figitool) based on OGR.

[2020-01-05 17:00] TomasTomecek commented on #29
testing farm and Fedora CI pipeline are complementary, but since we didn't find time to do this, let's leave this closed

[2020-01-06 08:18] #303 closed

[2020-01-10 15:38] TomasTomecek opened #306 "ogr can't figure out auth for SSH style of URL: git@github..."
see below: https://github.com/packit-service/ogr/issues/306#issuecomment-575204355

[2020-01-13 08:19] lachmanfrantisek commented on #306
Do you have an example?

It should work well. See the docs in the relevant function:

https://github.com/packit-service/ogr/blob/b7c5333c4df64ecdf854a5375c207a789ca51a01/ogr/parsing.py#L75

And here are the tests with the URLs like `git://`, `git+https://..` and `git@`.

https://github.com/packit-service/ogr/blob/master/tests/unit/test_parsing.py

[2020-01-13 08:27] lachmanfrantisek commented on #199
It's maybe better after the big code restructure, but we still need to make sure it's done.

[2020-01-13 08:38] TomasTomecek commented on #306
Hm, you're right. Just tried on 4 different examples and it worked very well. Not sure what went wrong on Friday.

Will reopen once I stumble into it again, thanks!

[2020-01-13 09:38] lachmanfrantisek commented on #133
It's not possible to do it -- we can only override them. (There is nothing like `pull-request` status in GitHub, it's only a `commit-status`, so it's de-facto refreshed when the PR git-head changes.)

[2020-01-13 09:38] #133 closed

[2020-01-14 10:53] mfocko commented on #49
Coverage at the moment:
[code]

[2020-01-14 11:20] TomasTomecek opened #307 "how can I create a PR against my fork"
I am looking at this code:

https://github.com/packit-service/ogr/blob/b7c5333c4df64ecdf854a5375c207a789ca51a01/ogr/services/github/pull_request.py#L111

what if I want to create a PR against my fork and not the upstream project?

[2020-01-14 15:06] lachmanfrantisek commented on #271
Still valid.

[2020-01-15 11:22] jpopelka commented on #49
I'm happy with the numbers, closing

[2020-01-15 11:22] #49 closed

[2020-01-16 10:24] dhodovsk opened #308 "Support listing issues based on creator"
Consider also other filtering options:

The options are:
https://github.com/PyGithub/PyGithub/blob/master/github/Repository.py#L2172-L2195

[2020-01-16 11:43] lachmanfrantisek commented on #308
TODO: Check options for GitLab and Pagure as well.

[2020-01-16 13:16] mfocko commented on #308
checked, it is possible

[2020-01-16 14:57] lachmanfrantisek commented on #308
@mfocko thanks!

[2020-01-16 15:28] TomasTomecek commented on #306
Ha! Got it now!
[code]

[code]

[2020-01-16 16:28] lachmanfrantisek commented on #306
The error is not about the parsing:

[code]

[code]

It's about missing authentication to the service.

[2020-01-17 14:27] TomasTomecek commented on #306
but the service is in both cases github.com - oki, will rename the issue

[2020-01-17 15:49] mfocko commented on #216
few things regarding implementation

- GitHub
    - only for organizations: `pull`, `push`, `admin` - **using the default?**
- GitLab
    - `access_level` **what should be default?**
[code]

- Pagure
    - none (removes), `ticket`, `commit`, `admin` - **default?**

[2020-01-20 11:38] lachmanfrantisek commented on #209
We still want that.

[2020-01-21 12:50] lbarcziova opened #310 "Support get_files() in Pagure"
Implement `get_files()` method in Pagure.

- Structure can be seen in the docstring of the code that implements that: https://pagure.io/pagure/blob/dd207ee/f/pagure/api/project.py#_709
- Example: https://pagure.io/api/0/pagure/tree

[2020-01-24 19:51] #308 closed

[2020-01-27 11:48] lachmanfrantisek opened #312 "new minor release"
Release-bot, it's time to work!

[2020-01-27 11:51] #312 closed

[2020-01-28 09:25] lachmanfrantisek commented on #165
Still relevant.

[2020-01-28 14:05] packit-as-a-service[bot] opened #314 "[packit] Propose update failed for release 0.10.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `master` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/o/ogr/ogr-0.10.0.tar.gz. Reason: 'Not Found'. ` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-01-28 14:05] packit-as-a-service[bot] opened #315 "[packit] Propose update failed for release 0.10.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/o/ogr/ogr-0.10.0.tar.gz. Reason: 'Not Found'. ` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-01-28 14:05] packit-as-a-service[bot] opened #316 "[packit] Propose update failed for release 0.10.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/o/ogr/ogr-0.10.0.tar.gz. Reason: 'Not Found'. ` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-01-28 14:17] lachmanfrantisek commented on #316
Proposed from the CLI.

[2020-01-28 14:17] #316 closed

[2020-01-28 14:17] lachmanfrantisek commented on #315
Proposed from the CLI.

[2020-01-28 14:17] #315 closed

[2020-01-28 14:17] lachmanfrantisek commented on #314
Proposed from the CLI.

[2020-01-28 14:17] #314 closed

[2020-01-28 14:53] Zlopez opened #417 "[use-case] the-new-hotness dist-git pull request creation"
I want to enhance the-new-hotness with the ability to file PRs directly to dist-git projects instead of attaching patches to bugzilla. I started to work on it in this PR [here](https://github.com/fedora-infra/the-new-hotness/pull/235). All the packit related code could be find in https://github.com/fedora-infra/the-new-hotness/pull/235/files#diff-d74ad19fb2d5a66e5bdf8eec8555ca1d

I'm using only th

[2020-01-29 13:10] dhodovsk opened #318 "parse_git_repo fails to handle '/' at string end correctly"
[code]

[2020-02-05 12:03] jpopelka opened #323 "ModuleNotFoundError: No module named 'flexmock'"
The [Fedora dist-git CI fails](https://fedora.softwarefactory-project.io/zuul/build/755e891747f145b8810a8933c37fef3a/logs) with that error.
I'm not sure where's the correct place to fix it, but I'm creating this so that we don't forget about it since I need to merge [that PR](https://src.fedoraproject.org/rpms/python-ogr/pull-request/159).

[2020-02-06 12:39] TomasTomecek commented on #323
I'd say that add flexmock into the ansible playbook in dist-git.

[2020-02-06 12:58] #318 closed

[2020-02-10 09:04] lachmanfrantisek commented on #214
We need to at least clarify the outcome from this.

[2020-02-10 11:50] lachmanfrantisek commented on #229
Docs needed.

[2020-02-10 13:26] lachmanfrantisek commented on #147
Looks like it's not true anymore... Nice!

[2020-02-13 18:52] lachmanfrantisek opened #325 "Laziness"
Figure out how we can return data:
- only when needed
- only a limited number of results at first

AC:
- Provide the same API for users of all implementations (e.g. change lists to generators).
- Be transparent to user == download the additional data when the user really needs them.
  - e.g. Use lazy properties where possible.
- Enable efficient filtering on the results / during the calls.

[2020-02-14 07:50] lachmanfrantisek commented on #306
I am still not sure if the problem is here, or in the `upsint`.

The message `ogr.exceptions.OgrException: Instance of type GithubService matching instance url 'git@github.com:ansible-community/ansible-bender.git' was not provided.` clearly states, that it matches `GithubService` but you haven't provided any.

What about changing this issue to:
- [ ] Try the parsing and matching with the `git@*` u

[2020-02-14 07:53] lachmanfrantisek commented on #307
Gitlab probably supports forking of forks as well.

[2020-02-14 07:58] lachmanfrantisek commented on #216
You can add collaborators for the project as well:

![Screenshot from 2020-02-14 08-56-45](https://user-images.githubusercontent.com/20214043/74512211-0dea1a00-4f08-11ea-9cd2-1bb67760e931.png)

[2020-02-14 09:17] lachmanfrantisek commented on #100
I've updated the description. This issue is now about cleaning the methods and add the missing parts. Please, check if I don't forget anything.

[2020-02-14 09:46] lachmanfrantisek commented on #147
I've updated the description and add the TODO-list.

[2020-02-14 10:37] lachmanfrantisek commented on #215
@NNRepos sorry that I missed your comment.

It's a hard question related to the multiple tests -- to prepare@clean inside of the tests or use manual preparation. There are at least three ways:
- Do everything as you proposed.
- Create the project manually to avoid problems during the creation.
- Or use some setup/teardown to differentiate the preparation and the test-run.

I am not sure we need th

[2020-02-16 09:26] #261 closed

[2020-02-17 15:16] saisankargochhayat opened #329 "Assigning Issues to based on usernames."
Is it possible to assign Issues to particular user-names using the issue object by any chance?

#### Github
- github-api: https://developer.github.com/v3/issues/assignees/#add-assignees-to-an-issue
- pygithub: https://pygithub.readthedocs.io/en/latest/github_objects/Issue.html

#### Gitlab
- gitlab-api: https://docs.gitlab.com/ee/api/issues.html#edit-issue
- python-gitlab: https://python-gitlab.re

[2020-02-18 08:01] lachmanfrantisek commented on #329
@saisankargochhayat thanks for the suggestion. Currently, it's not possible, but it should not be hard to implement it.

I've updated your description so anyone can start working on it.

[2020-02-18 12:39] dhodovsk opened #330 "better is_private method for pagure projects"
AFAIK at the moment it is not possible to get the info about whether the repository is private or not in pagure. Now we depend on the info that in src.fedoraproject.org and pagure.io, the private repositories are not allowed.

Note: Will this be an issue for https://git.centos.org/?

[2020-02-18 12:41] nasirhm commented on #329
I would like to work on it.

[2020-02-18 14:15] sakalosj opened #331 "pagure provides more detailed error info stored under 'errors' key"
pagure provides more detailed error info stored under 'errors' key, which is not currently not used in output

[2020-02-18 15:10] lachmanfrantisek commented on #329
@nasirhm it would be nice!

If you need some help, feel free to ask.

[2020-02-18 17:28] nasirhm commented on #329
Thank you @lachmanfrantisek It would take some time for me to be familiar with the infrastructure and work on it.

[2020-02-19 13:50] sakalosj opened #334 "improve pagure unit tests"
edited by @lachmanfrantisek :

TODO:
- Add tests for https://github.com/packit-service/ogr/pull/333 (better pagure error messages)
  - e.g. wrong URL, wrong token, not-found object,...

[2020-02-19 14:06] lachmanfrantisek commented on #334
What exactly needs to be improved? Can you elaborate, please?

(We have no Pagure unit tests. There are only integration ones.)

[2020-02-19 15:13] sakalosj commented on #334
created based on  https://github.com/packit-service/ogr/pull/333#pullrequestreview-360895023, but didn't check existing tests so incorectly thought that its units, sorry my bad

so it will be work on integration tests on pagure.service
this is what  you meant by command above?

[2020-02-19 20:59] TomasTomecek commented on #306
I don't understand what you mean (it's late), let's talk tomorrow.

[2020-02-19 21:01] TomasTomecek commented on #330
I hope not, all should be public.

[2020-02-19 21:03] TomasTomecek commented on #334
this still needs better description

[2020-02-19 21:07] lachmanfrantisek commented on #334
I've updated the title and description to make it clear also for others..;)

[2020-02-20 21:28] TomasTomecek commented on #306
see the PR, I picked the first one

[2020-02-21 08:57] lachmanfrantisek opened #338 "hostname property in the service classes"
Multiple times in the code (mostly in the `parsing.py`), we need to parse the hostname of the instance.

[code]

It would be useful to have a `hostame` property in service classes`.

TODO:
- [ ] add the (read-only) property to the `abstract.py`
- [ ] implement the common behaviour in the `base.py` (see the example above)
  - services with multiple instances possible
- [ ] hardcode the value for st

[2020-02-21 13:47] cverna opened #339 "support pagination for get_issue_list"
Currently using a Pagure service the get_issue_list method returns only the last 20 issues of a project. This is because Pagure paginate the results, I have not looked at GitHub and GitLab but I guess it works the same.

Ideally `get_issue_list` should return a list of all the issues for a project and the pagination should be transparent to the user.

[2020-02-22 08:28] dinolinjob commented on #338
I would like to work on this issue

[2020-02-24 07:30] lachmanfrantisek commented on #338
@dinolinjob
Nice, if you need some help, feel free to aks. The testing part is a bit tricky for the first time. (See our [contribution guide](https://github.com/packit-service/ogr/blob/master/CONTRIBUTING.md) for some info.)

[2020-02-24 08:26] lachmanfrantisek commented on #339
@cverna Thanks for the info!

It's related to this issue: #325

For now, we need to:
- [ ] get all the issues in the `get_issue_list`
- [ ] add tests with the project having more than 20 issues
- [ ] check the other implementation and fix+test if needed

[2020-02-26 09:49] lachmanfrantisek opened #342 "Validate the urls"
We have some URLs in the tests -- it would be nice to validate them.

*Originally reported by @jscotka :*

[2020-02-26 11:51] #306 closed

[2020-02-28 13:38] RafayGhafoor commented on #342
@lachmanfrantisek, I would like to work on this issue. Can you please elaborate the part about using urllib to download the diff and check if there are few expected lines.

What would be URL of diff and every URL of domain github/gitlab/pagure is to be tested for validity?

[2020-02-28 14:43] lachmanfrantisek commented on #342
Nice!

That's the property we want to test. (See the related PR: #335 )

I am not sure what you mean, but we would like to check all URL properties. (=Find all the properties that are URLs and check those.)

[2020-03-02 11:25] lachmanfrantisek opened #344 "Add datetime to commit flags"
- [x] add the `created` and `edited` properties to the commit flag classes
  - [x] abstract class
  - [x] github:
    - https://pygithub.readthedocs.io/en/latest/github_objects/Commit.html#github.Commit.Commit.get_statuses
  - [ ] gitlab:
    - https://python-gitlab.readthedocs.io/en/stable/gl_objects/commits.html#commit-status
    - https://docs.gitlab.com/ce/api/commits.html
  - pagure:
    -  h

[2020-03-03 15:49] lachmanfrantisek commented on #211
It's already implemented in #335

[2020-03-03 15:49] #211 closed

[2020-03-06 11:34] TomasTomecek commented on #237
this is done, right?

[2020-03-06 12:34] lachmanfrantisek commented on #237
Do we want it? (Is packit enough? We can use p-s for the gate pipeline.)

[2020-03-07 06:08] jpopelka opened #346 "New minor release"

[2020-03-07 06:10] #346 closed

[2020-03-09 12:44] packit-as-a-service[bot] opened #348 "[packit] Propose update failed for release 0.11.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `The distgit repository /tmp/packit-dist-gitpptwa97d is dirty.This is not supported.` |
| `f31` | `The distgit repository /tmp/packit-dist-gitpptwa97d is dirty.This is not supported.` |
| `f32` | `The distgit repository /tmp/packit-dist-gitpptwa97d is dirty.This is not supported.

[2020-03-09 13:21] jpopelka commented on #348
Triggered by:
https://github.com/packit-service/ogr/pull/347#issuecomment-596503222

I think this is caused by a race condition when a project has already been released on
Github (which triggers `propose-downstream`), but not to PyPI yet.

[code]

[2020-03-09 14:00] jpopelka commented on #348
/packit propose-update

[2020-03-09 14:02] #348 closed

[2020-03-11 15:28] TomasTomecek commented on #237
p-s would be nice as well

[2020-03-12 12:16] #331 closed

[2020-03-12 12:24] csomh commented on #323
This happened in F30 only, and F30 is going EOL soon (2-3 month). So let's close this.

[2020-03-12 12:24] #323 closed

[2020-03-16 11:20] TomasTomecek opened #353 "most of the tests are failing on master now"
[code]

[code]

Happens even when I use older pygithub.

[2020-03-16 12:23] jscotka commented on #353
as we've discussed. Troubles probably caused by some tool eg. tox, or something that changed way of test invocation. so that there are two solutions. regenerate files in the same env as they run (tox)  or investigate why this happened.

Reason why it is not match the proper responses is that there changed caller stack (missing `unittest.case` at the beginning) don't know why)

[2020-03-16 16:10] saisankargochhayat opened #354 "Supporting enterprise versions of Gitlab"
I was wondering if OGR does support interacting with enterprise versions of Gitlab, when provided with an private token. I think Gitlab enterprise has the same set of API's as the public version, so is there a way to like provide the service url like for example - https://gitlab.cee.redhat.com and it would then try accessing repo's from that instead of publicly hosted Gitlab.

[2020-03-16 16:40] lachmanfrantisek commented on #354
Hi @saisankargochhayat, thanks for your interest!

Yes, you can use `instance_url` argument for that when instantiating the service instance:

https://github.com/packit-service/ogr/blob/022e9dff7fd02e2f4d34ca836ac298127d7f5694/ogr/services/gitlab/service.py#L33-L36

Some testing was done on `git.gnome.org` and for internal instances `ssl_verify` argument may comes handy.

[2020-03-16 16:43] lachmanfrantisek commented on #354
In `ogr/factory.py`, you can find some methods for picking the right instance for the project url:

https://github.com/packit-service/ogr/blob/022e9dff7fd02e2f4d34ca836ac298127d7f5694/ogr/factory.py#L68-L81

(Sadly, we don't have nice docs yet... #53 )

[2020-03-16 17:38] saisankargochhayat commented on #354
@lachmanfrantisek Thanks a lot for the quick reply.
I tried out some methods after instantiating with the `instance_url`, it seems to work with ssl_verify set to False, however fails when ssl_verify is set to true.

[2020-03-17 07:16] lachmanfrantisek commented on #354
The internal certificates were probably not discovered  -- @TomasTomecek knows how to get `requests` know about them.

[2020-03-17 08:30] TomasTomecek commented on #354
fails how? we can't help you if you don't provide us:
* logs
* code
* error messages

[2020-03-17 08:54] lachmanfrantisek commented on #354
@TomasTomecek I think we know the problem and already discussed this situation some time ago:

- You have internal certs, but python/SSL does not know about them.
- I remember some env-var or something like that to get python/SSL know about it.

But a specific error might help.

[2020-03-17 13:23] saisankargochhayat commented on #354
Sorry about that. I have attached the same below -
Error log -
https://paste.ofcode.org/LDxYLXrkxzi7WvXKqwvb4x
Code (its a sample get issues) -
[code]

[2020-03-17 13:38] TomasJani commented on #344
I would like to work on this if possible (as part of RHOSC).

[2020-03-17 13:45] lachmanfrantisek commented on #344
@TomasJani nice!

Feel free to ask if you need some help.

[2020-03-17 14:24] TomasTomecek commented on #354
Since this is using `requests` under the hood, you can tell requests to pick CAs from a specific file:
[code]

We should probably document this.

[2020-03-17 14:41] lachmanfrantisek commented on #354
This is exactly what I had in mind.. Thanks!

[2020-03-17 14:45] lachmanfrantisek opened #356 "Document the usage of custom instances and certificates"
We need to document usage of ogr on custom/internal instances:

- [ ] usage of `instance_url`
- [ ] setup of custom/internal certificates:
  - export `REQUESTS_CA_BUNDLE=/etc/pki/tls/certs/ca-bundle.crt`
  - ignore the SSL verification (`ssl_verify` argument)

[2020-03-17 14:46] lachmanfrantisek commented on #354
I've created a new issue for the documentation part: https://github.com/packit-service/ogr/issues/356

I think we can close this one.

[2020-03-17 14:46] #354 closed

[2020-03-17 14:58] saisankargochhayat commented on #354
Thanks once again for all the help!

[2020-03-18 12:37] #353 closed

[2020-03-23 06:41] lachmanfrantisek commented on #310
@lbarcziova do you know more about implementation? Are we blocked by the Pagure API?

[2020-03-23 07:23] lbarcziova commented on #310
I still cannot find anything related in the Pagure API documentation, so we are blocked.

[2020-03-23 07:36] lachmanfrantisek commented on #310
@lbarcziova thanks for the info

[2020-03-23 12:36] TomasTomecek opened #359 "introduce a class for a git branch"
and ideally link it with pull request and git project

The expectation here is that when ogr returns name of a branch, it would return a GitBranch instance instead.

The class should contain at minimum:
* name
* be linked to a repository
* commit SHA of the HEAD

Would be nice if:
* there was a connection to a PR if there is one
* datetime it was created
* datetime of last change

[2020-03-23 12:38] TomasTomecek opened #360 "introduce a new class for GitCommit"
and ideally link it with pull request, branch, author and git project

The expectation here is that when ogr returns a commit has, it would return a GitCommit instance instead.

The class should contain at minimum:
* sha
* be linked to a repository
* author
* datetime it was created
* subject
* body
* branch it's on

[2020-03-23 12:52] lachmanfrantisek commented on #359
Don't you mean the class from python-git (or how it is called)?

I would go with some custom class because using those classes independently is hard.

[2020-03-23 14:55] TomasTomecek commented on #359
I don't.

Since github and others give us a ton of metadata about branches, we could utilize that information in a new class and over time, add more properties and methods to the class.

Absolutely.

[2020-03-25 12:50] TomasTomecek opened #363 "provide a way to modify ACLs of repositories"
https://paste.centos.org/view/cc3c3b5c

[code]

[2020-03-25 12:55] TomasTomecek opened #364 "provide a way to modify ACLs of repositories"
* We first to need to create an abstraction on top of all forges
* and then implement it for each

This is an example how pagure does it:
[code]

[2020-03-25 13:23] TomasTomecek opened #365 "add __repr__ to classes"
* [ ] Project
* [ ] Service (**don't** include secrets)
* [ ] Release
* [ ] PR
* [ ] Issue

[2020-03-25 13:44] lachmanfrantisek commented on #364
This one would be hard since all of them have a different approach.

[2020-03-25 13:48] lachmanfrantisek commented on #365
- Most of them have implemented `__str__`, do you want it to be used for `__repr__`?
- Is the first and last letter of `token` ok? We already discuss that in #336

[2020-03-25 13:52] TomasTomecek commented on #365
oh, so we probably just need __repr__ then; reference:
[code]
not too helpful :D

sounds good

[2020-03-25 13:56] TomasTomecek commented on #364
so maybe just implement it for pagure only e.g.

[2020-03-25 14:36] lachmanfrantisek commented on #364
We can at least try. (I wanted to use something similar here #216 )

[2020-03-27 10:47] sakalosj opened #368 "Implement PullRequest.head_commit for github and gitlab"
Implement PullRequest.head_commit for github and gitlab

[2020-03-27 10:54] lachmanfrantisek commented on #368
Requires #367

[2020-04-01 08:31] sakalosj opened #370 "New patch release"

[2020-04-01 08:33] #370 closed

[2020-04-01 13:14] packit-as-a-service[bot] opened #372 "[packit] Propose update failed for release 0.11.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `The distgit repository /tmp/packit-dist-git8t1ct16f is dirty.This is not supported.` |
| `f31` | `The distgit repository /tmp/packit-dist-git8t1ct16f is dirty.This is not supported.` |
| `f32` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/o/o

[2020-04-01 13:23] sakalosj commented on #372
/packit propose-update

[2020-04-01 13:27] #372 closed

[2020-04-02 11:43] shreyaspapi commented on #216
Hey if this isn't solved yet, Can I give it a try?

[2020-04-02 11:53] lachmanfrantisek commented on #216
@shreyaspapi Yes, that would be nice. I hope you can find some abstraction that will work for all three implementations.

[2020-04-06 14:07] shreyaspapi commented on #216
- Github
     - permission – string ‘pull’, ‘push’ or ‘admin’ mentioned in [pygithub](https://pygithub.readthedocs.io/en/latest/github_objects/Repository.html#github.Repository.Repository.add_to_collaborators)
    - The v3 of github api which pygithub uses, states - The permission to grant the collaborator. Only valid on organization-owned repositories. [reference](https://developer.github.com/v3/

[2020-04-06 14:22] lachmanfrantisek commented on #216
@mfocko you may take a look..;)

@shreyaspapi Yes, GitHub and GitLab looks good and the mapping in Pagure is reasonable.

[2020-04-07 08:41] TomasTomecek commented on #237
I'm closing since this is now resolved.

[2020-04-07 08:41] #237 closed

[2020-04-07 12:06] #339 closed

[2020-04-09 11:55] #334 closed

[2020-04-14 07:44] sakalosj opened #377 "PaureProject.get_files() not implemented"
PaureProject.get_files() not implemented. Maybe not possible because pagure api doesnt provide any possiblity to get repository content.

[2020-04-14 07:47] lachmanfrantisek commented on #229
Docs still needed.

[2020-04-14 08:19] lbarcziova commented on #377
This is duplicate of #310

[2020-04-14 09:13] lachmanfrantisek commented on #377
@lbarcziova thanks

[2020-04-14 09:13] #377 closed

[2020-04-14 09:14] lachmanfrantisek commented on #310
Some possibility if we really want:
https://git-scm.com/book/en/v2/Git-Internals-Transfer-Protocols

[2020-04-14 12:15] lachmanfrantisek commented on #302
It's implemented but probably not deployed to `src.fedoraproject.org`.

But we can start working on it if we want: https://pagure.io/pagure/c/31280551ec2fdf282152abae2ff9d44f20faaf92?branch=master

[2020-04-14 14:06] lachmanfrantisek commented on #310
Here is a pagure issue: https://pagure.io/pagure/issue/4808

[2020-04-15 21:50] sakalosj opened #383 "Initializing service via get_instances_from_dict() not working as expected"
Shoudn't be this working?

config:
[code]
error:
[code]

[2020-04-16 07:12] lachmanfrantisek commented on #383
Looks like some error on the way to this method:

[code]

[2020-04-16 07:35] csomh opened #384 "Create a class to hold information on pull-request flags"
In *Set PR flags in Pagure #381*, the `set_flag` method for Pagure pull-requests was left to return the `dict` from the response.

Wrap that response in a class to make working with these kind of flags easier.

[2020-04-16 07:48] lachmanfrantisek opened #385 "New patch release"
Thanks in advance!

[2020-04-16 09:54] packit-as-a-service[bot] opened #387 "[packit] Propose update failed for release 0.11.2"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `master` | `[Errno 2] No such file or directory: '/tmp/packit-dist-git1w9t9eub/fedora/changelog'` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-04-16 11:12] lachmanfrantisek commented on #387
/packit propose-update

[2020-04-16 11:14] lachmanfrantisek commented on #387
OK, the syncing probably can't create a new file..;(

[2020-04-16 13:03] jpopelka commented on #387
See https://github.com/packit-service/packit/issues/806#issuecomment-614612660

[2020-04-16 14:26] lachmanfrantisek commented on #387
This failed on the syncing of the new `changelog` file. (The mapping of synced files has a problem with that situation.)

[2020-04-16 14:27] lachmanfrantisek commented on #387
I've already created the PRs: https://src.fedoraproject.org/rpms/python-ogr/pull-requests

[2020-04-16 14:27] #387 closed

[2020-04-20 12:38] #302 closed

[2020-04-21 11:18] lachmanfrantisek opened #391 "Return all project branches from Gitlab"
By now, we get only 20 branches at max. Looks like a pagination issue.

We need to tweak pagination to list all -- we already have that on some other method.

[2020-04-22 13:38] #391 closed

[2020-04-23 11:30] lachmanfrantisek commented on #307
- [ ] We need to make sure this workflow works.
- [ ] Put this to docstring.

[2020-04-23 11:37] lachmanfrantisek commented on #271
We agreed that we don't need that since we want the text to be present near the code. (The developer experience is better now.)

[2020-04-23 11:37] #271 closed

[2020-04-24 07:15] #385 closed

[2020-04-25 08:39] jpopelka opened #396 "Use apostrophe rather than backtics in log messages."
As can be seen in https://github.com/abrt/reportd/issues/10 both [ogr](https://github.com/packit-service/ogr/blob/master/ogr/services/pagure/service.py#L150) and [packit-service](https://github.com/packit-service/packit-service/blob/master/packit_service/worker/handlers/github_handlers.py#L179) use backticks, which results in strange Github comments.

Can ogr use apostrophes instead?

[2020-04-26 19:23] #396 closed

[2020-04-27 09:59] packit-as-a-service[bot] opened #398 "[packit] Propose update failed for release 0.11.3"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/o/ogr/ogr-0.11.3.tar.gz. Reason: 'Not Found'. ` |
| `f31` | `The distgit repository /tmp/packit-dist-gitlbs_i1xk is dirty.This is not supported.` |
| `f32` | `The distgit repository /tmp/packit-dist-

[2020-04-27 10:05] TomasTomecek commented on #398
/packit propose-update

[2020-04-27 10:09] #398 closed

[2020-04-27 10:11] TomasTomecek commented on #398
This is awesome! Can't wait to have builds and bodhi updates.

[2020-04-27 15:09] lachmanfrantisek opened #400 "source_project property for PR class"
Now, we have only `project` property in the PR class, but it's hard to get the source project. (It can be sometimes very tricky to pick the right repo from the OGR's user perspective.)

- [ ] add `source_project` property (abstract and implementations) returning the project with the source branch
- [ ] create tests:
  - [ ] basic PR from `fork` to `upstream`
  - [ ] renamed `fork`
  - [ ] renamed

[2020-04-27 20:32] mfocko commented on #400
I'm thinking about the way to deprecate `project`. Easiest thing seems to be implementing it as a property.
Then arises the question whether we need to implement setters for `target`/`source` projects. In which I don't really see a point.

[2020-04-28 07:46] lachmanfrantisek commented on #400
:+1:

We actually cannot edit them. So no, we don't need setters.

[2020-04-28 10:56] lachmanfrantisek commented on #147
Some parts are still missing.

[2020-04-30 13:57] #368 closed

[2020-04-30 16:12] saisankargochhayat commented on #307
Could you please point out the steps for tackling this issue?

[2020-04-30 16:23] #400 closed

[2020-04-30 18:58] lachmanfrantisek commented on #307
We need to:
- [ ] check the methods and docstring if it is possible / it is well described
- [ ] check the implementations
  - [ ] ideally, create a test for each implementation, to have all combinations (fork -> fork, upstream -> upstream, fork -> upstream)
- [ ] update docstrings if it is not clear

Related code:
- abstract:
https://github.com/packit-service/ogr/blob/27a7276662a99c10ef163bb59532

[2020-04-30 20:58] saisankargochhayat commented on #307
@lachmanfrantisek Thanks, I will create a PR fixing the functions.

[2020-05-04 08:01] lachmanfrantisek commented on #307
@saisankargochhayat thank you, I'll take a look.

[2020-05-05 09:53] TomasTomecek commented on #307
Given the PR is merged, we can close, right?

[2020-05-05 10:14] mfocko commented on #307
Yup, closed by #404

[2020-05-05 10:14] #307 closed

[2020-05-05 10:19] mfocko opened #406 "Creating pull requests from fork to other fork"
After merging #404 there's no support only for creating PR from one fork to different fork.

PyGithub (GitHub API respectively) doesn't allow creating pull requests on a repository we're "merging" from.

-  [ ] implement getting other fork repository when creating PR against it (internal Repository should be enough)
   -  [ ] handle non-existing fork

[2020-05-05 17:46] saisankargochhayat commented on #406
In a scenario where A(upstream) -> B(fork) -> C(fork)
Passing forkusername as None, seemed to create a PR to the parent fork, that is B, like here -
https://github.com/AICoE/clai/pull/1
Does creating PR from one fork to different fork mean same?

[2020-05-05 20:07] mfocko commented on #406
Looked at the project, it satisfies the "graph" you made, there it works fine.

I meant something like:
[code]

And then PR from B -> C or other way around.

[2020-05-06 13:32] lachmanfrantisek opened #407 "New minor release"
Let's create a new release!

[2020-05-06 13:34] #407 closed

[2020-05-06 15:57] packit-as-a-service[bot] opened #409 "[packit] Propose update failed for release 0.12.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f30` | `The distgit repository /tmp/packit-dist-gitrxy9z89n is dirty.This is not supported.` |
| `f31` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/o/ogr/ogr-0.12.0.tar.gz. Reason: 'Not Found'. ` |
| `f32` | `The distgit repository /tmp/packit-dist-

[2020-05-06 18:23] lachmanfrantisek commented on #409
/packit propose-update

[2020-05-11 19:45] #216 closed

[2020-05-16 16:37] mfocko commented on #344
Closed by #374

@lachmanfrantisek can create follow-up issue for the `edited` on GitLab, but I don't think it's the API problem

[2020-05-16 16:37] #344 closed

[2020-05-18 08:05] lachmanfrantisek commented on #344
Thanks. Yes please, create a follow-up for the missing parts. (Also issues blocked by API are useful and we shout create an issue in the upstream project for each of them.)

[2020-05-18 13:37] lachmanfrantisek commented on #330
It would still be nice to not need to hardcode the values for know instances.

[2020-05-19 20:57] mfocko opened #412 "Revisiting API for creating PRs"
Current API appears to be fully functional and sufficiently covered by tests for GitHub and Pagure.

## Services

### GitHub + GitLab

-  allows creating fork of forks
-  allows creating PRs from one fork to another

### Pagure

-  doesn't allow creating fork of forks
-  allows creating PRs on a project (assuming it's not a fork) or from fork to upstream

## Current implementation

[code]

## Exam

[2020-05-19 20:59] mfocko commented on #412
# Current behaviour

<details>
<summary>pull request from one branch to another on the upstream project</summary>

[code]
</details>

<details>
<summary>pull request from fork to the upstream project</summary>

[code]
</details>

<details>
<summary>pull request from one branch on my fork to another branch of my fork</summary>

[code]
</details>

<details>
<summary>pull request from one fork to ano

[2020-05-19 21:05] mfocko commented on #412
# Option A - Separate functions

`create_pr` behaviour would be constrained only to project it's being called on.
A new function `create_pr_to_upstream` would be introduced.

<details>
<summary>pull request from one branch to another on the upstream project</summary>

[code]
</details>

<details>
<summary>pull request from fork to the upstream project</summary>

[code]
</details>

<details>
<summa

[2020-05-19 21:07] mfocko commented on #412
# Option B - pull requests are created on the object they're called on

<details>
<summary>pull request from one branch to another on the upstream project</summary>

[code]
</details>

<details>
<summary>pull request from fork to the upstream project</summary>

[code]
</details>

<details>
<summary>pull request from one branch on my fork to another branch of my fork</summary>

[code]
</details>

<

[2020-05-19 21:17] mfocko commented on #412
# Option C - call on projects you're pulling from

Basically current behaviour, but wouldn't allow *implicit* PR to parent if
called on fork.

-  This approach has problems with resolution of project?
-  Can I even know if the projects are in fork-parent or fork-fork or even fork-fork\_of\_fork relation?
-  How could we handle the PRs from fork to upstream?
-  How could we handle the PRs from one

[2020-05-19 21:24] mfocko commented on #412
# Summary

-  `fork_username` may be a problematic parameter, since it's used in 2 different contexts:
   -  PRs on the fork
   -  PRs from one fork to another
-  which option favours the `packit`, `packit-service` and users the most?
   -  which one would cause as less complications as possible in the code that uses it

[2020-05-20 07:38] TomasTomecek commented on #412
Thank you for such a thorough write-up.

I personally like B

[2020-05-20 13:49] lachmanfrantisek commented on #412
@mfocko thank you!

[2020-05-20 13:50] csomh commented on #412
Under the hood I would imagine something like this:

[code]

This function could live outside of any class. Would be explicit.

Classes could have `create_pr*` convenience methods to deal with the fork/upstream aspects, but under the hood all would just call this function.

Would something like this work, or it's total non-sense?

[2020-05-20 13:54] lachmanfrantisek commented on #412
@saisankargochhayat @cverna @thrix (and also @packit-service/the-packit-team)

Since you use OGR, you might be interested in this issue and the proposed way of creating pull-requests. (Or just be informed that we are thinking about changing the API a little.) Can you please take a look at this proposal and use :+1: and :-1: reactions on the previous comments with the proposals.

Thanks in advance!

[2020-05-20 13:59] lachmanfrantisek commented on #412
Yes, that makes sense to have this under the hood. Also, the defaults are here much clearer.

But still, we probably want to have some method(s) in the project class.

[2020-05-20 21:27] mfocko opened #413 "edited on Gitlab's commit flag"
Follow-up of #344 (PR: #374)

API docs (https://docs.gitlab.com/ee/api/commits.html#post-the-build-status-to-a-commit):

Gitlab API suggests that setting commit flag can update existing one, which could mean this issue is blocked by API.

Updating could also mean:
1.  adding new commit flag that replaces old one
2.  adding new commit flag, but keeping the old one

Example output from docs doesn't

[2020-05-20 21:34] mfocko opened #414 "Pull requests on Gitlab projects"
By looking at the code I noticed there are no tests for creating pull requests in different scenarios (like Github has) and also the code doesn't seem to be compliant to the documentation of ogr.

-  [ ] Add tests
-  [ ] Fix the implementation

May be blocked by #412

[2020-05-21 11:57] dhodovsk commented on #409
Tracked here https://github.com/packit-service/packit-service/issues/469

[2020-05-21 11:58] #409 closed

[2020-05-22 16:21] jpopelka opened #416 "Implement patch property in GitlabPullRequest and GithubPullRequest"
https://github.com/packit-service/ogr/pull/415 implements `PagurePullRequest.patch` property to get a patch from a pull request.
`Gitlab` & `Github` implementation are missing.

Update by @lachmanfrantisek :

The task is to implement `patch` property fo `GithubPullRequest` and `GitlabPullRequest` that will return `patch` of the changes for pull-request (not the URL of it).

- Github:
    - URL of

[2020-05-25 14:18] #342 closed

[2020-05-26 05:56] #417 closed

[2020-05-26 09:47] #406 closed

[2020-05-26 14:37] lachmanfrantisek opened #420 "Support for GitLab pipelines"
Pipelines are specific to the GitLab but there were some requests (ping @thrix ) to support them in OGR as well.

- It's going against the purpose of OGR to have one API for multiple forges. :-1:
- Users can access `python-gitlab` to do that instead. :-1:
  - But it's not a good UX. `python-gitlab` is our implementation detail. We should not force users to access that. :+1:
- Technically it will b

[2020-05-26 14:59] dhodovsk opened #421 "New patch release"

[2020-05-26 15:00] #421 closed

[2020-05-27 05:49] csomh commented on #420
Could users use `python-gitlab` directly? How does the user experience look like, when one uses `ogr` for things common to all forges and `python-gitlab` to do GitLab pipeline specific things?

What I'm trying to understand is whether there is a point in wrapping `python-gitlab`'s pipeline support into `ogr`. What are the benefits compared to just using `python-gitlab` when it comes to pipelines?

[2020-05-27 05:53] csomh commented on #112
Not a blocker anymore, Pagure API does have support for releases, even if not for older versions. Making this is an Epic to keep stale bot away.

[2020-05-27 13:46] packit-as-a-service[bot] opened #423 "[packit] Propose update failed for release 0.12.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `The distgit repository /tmp/packit-dist-gitwfi22npg is dirty.This is not supported.` |
| `f32` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/o/ogr/ogr-0.12.1.tar.gz. Reason: 'Not Found'. ` |
| `master` | `The distgit repository /tmp/packit-di

[2020-05-27 15:11] dhodovsk commented on #423
/packit propose-update

[2020-05-29 08:58] lachmanfrantisek commented on #420
Yes, as I wrote in the description. (We usually have some private attribute of our class containing the `gitlab-python` object.)

Just a few forge-specific classes/methods. Nothing that will break our architecture. We already have some forge-specific methods. (This is more a philosophical problem than the technical one...;)

- Two different approaches, worse code quality and readability
  - `gitla

[2020-05-29 09:01] mfocko opened #424 "Diff/review comments on pull requests"
-  [ ] Check tests and create them if necessary
-  [ ] Implement creating diff comments for GitLab (already implemented for GitHub and Pagure)
-  [ ] Create and implement interface for properties of diff comments (`is_diff_comment`, `commit`, `path`, `position`; consider new/old or only one)
-  [ ] Implement functions for acquiring diff comments on pull requests, e.g. `get_diff_comments`

[2020-06-01 08:05] lachmanfrantisek commented on #112
@csomh you can use `pinned` label instead.

https://github.com/packit-service/ogr/blob/fda65c62ee039786f223433367a8c64d353f4692/.github/stale.yml#L5-L10

[2020-06-03 07:06] csomh commented on #420
:+1: To me this is the most obvious benefit for having GitLab Pipeline support in OGR. Thanks for talking through this!

[2020-06-09 10:01] csomh commented on #356
We still need this, I think.

[2020-06-22 13:36] #364 closed

[2020-06-23 07:25] lachmanfrantisek commented on #310
No, stale-bot, Pingu is working on this. :tada:

[2020-06-23 09:17] lachmanfrantisek commented on #295
@mfocko what do you think? Do we still want it.

[2020-06-25 09:38] mfocko commented on #295
@lachmanfrantisek Yes, it's just waiting for the 0.13.0 release, since we've decided on keeping old tests to make sure the deprecated (but still present) functionality is working properly and restructuring those tests would mean keeping duplicate response files just because of different test names (and probably different call stack too).

[2020-06-25 10:41] #414 closed

[2020-07-07 06:21] lachmanfrantisek commented on #310
Pingu [implemented](https://pagure.io/pagure/c/dd207ee) that a few days ago.

It should be in the `5.11` version so we can start working on it.

[2020-07-09 07:36] jpopelka opened #432 "New patch release"

[2020-07-09 07:36] #432 closed

[2020-07-09 11:03] packit-as-a-service-stg[bot] opened #434 "[packit] Propose update failed for release 0.12.2"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-07-10 05:57] lachmanfrantisek commented on #434
Expected.

[2020-07-10 05:57] #434 closed

[2020-07-10 09:18] jpopelka commented on #434
This does not look like https://github.com/packit-service/packit-service/issues/469
which is/was about prod failing because of Github PyPI race condition (hasn't occurred during recent releases).
This one's from `stg` and fails on kerberos - I filled https://gitlab.cee.redhat.com/user-cont/packit-service/-/issues/12 for that.

[2020-07-10 09:36] lachmanfrantisek commented on #434
@jpopelka Thanks, I know. I closed this because I/we know that we have the wrong kerberos for stage.

Thanks for createing an issue.

[2020-07-16 12:54] dhodovsk opened #437 "Support adding group permission for Gitlab and Github projects"
Related: https://github.com/packit-service/ogr/pull/436

[2020-07-17 13:52] #157 closed

[2020-07-28 07:07] TomasTomecek commented on #157
[code]
I guess this is done?

[2020-07-28 17:53] shreyaspapi opened #440 "Implement request_access for project"
Add method where user can request access for a project.

- Gitlab - Implemented here - #439
- Github - After looking into https://pygithub.readthedocs.io/en/latest/index.html (Seems its not possible in Github to request for project access)
- Pagure - Unsure about the support (But unable to find anything here - https://pagure.io/api/0/#projects-tab)

[2020-07-29 06:17] lachmanfrantisek commented on #440
@shreyaspapi if they don't support this, what about raising `NotImplementedError` with the specific message (e.g. "Not possible on GitHub") for each forge?

[2020-07-30 21:14] shreyaspapi opened #442 "This is an issue"
Example of Issue description

[2020-07-30 21:15] #442 closed

[2020-07-31 06:09] lachmanfrantisek commented on #442
@shreyaspapi Please, use https://github.com/packit-service/hello-world for testing instead. Or projects in https://github.com/packit-service-testing-organisation/.

[2020-07-31 12:43] shreyaspapi commented on #442
Yes, it was an accident. 😁

[2020-08-03 13:50] csomh opened #445 "Regenerating the test data for the integration tests should be trivial"
After the Packit organisation rename, I had to regenerate the test data for GitHub. This proved to be a considerable effort, with roughly the following steps:

- create a Python virtualenv and install test dependencies - this needed several attempts, to get it right.
- clean up test data for GitHub
- set my GitHub API token
- run the tests with `make check` only to realise that the `GITHUB_APP_ID`

[2020-08-05 14:16] sakalosj opened #446 "New minor release"

[2020-08-05 14:20] #446 closed

[2020-08-07 09:12] packit-as-a-service[bot] opened #448 "[packit] Propose update failed for release 0.13.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `The distgit repository /tmp/packit-dist-git9pvi9zgh is dirty.This is not supported.` |
| `f32` | `The distgit repository /tmp/packit-dist-git9pvi9zgh is dirty.This is not supported.` |
| `master` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/

[2020-08-09 16:57] #423 closed

[2020-08-10 07:47] sentry-io[bot] opened #449 "Creating issues in Github fails with TypeError: 'NoneType' object is not iterable"
Sentry Issue: [RED-HAT-0P-2RX](https://sentry.io/organizations/red-hat-0p/issues/1828647684/?referrer=github_integration)

[code]

Recently we added `labels` parameters to `create_issue` method and it defaults to None, but it should probably default to [] so that it does not fail on the line with `assert`.

[2020-08-10 08:16] mfocko commented on #196
There is an open PR regarding this issue - #444 with files jupyter notebooks at https://github.com/mfocko/ogr/tree/jupyter/examples (Readme is not done yet).
If there are any other examples you'd like to see and aren't there, please add them here.

[2020-08-11 07:34] TomasTomecek commented on #449
Setting high-prio, we should fix the issue this week.

[2020-08-13 07:00] #449 closed

[2020-08-13 10:28] #196 closed

[2020-08-14 09:27] #165 closed

[2020-08-17 00:45] shreyaspapi commented on #440
Implemented in #439.

[2020-08-17 00:45] #440 closed

[2020-08-17 08:55] lachmanfrantisek commented on #424
stale-bot, why did you not tell us before?

[2020-08-19 11:02] sakalosj opened #454 "New patch release"

[2020-08-19 11:07] #454 closed

[2020-08-20 08:09] packit-as-a-service-stg[bot] opened #456 "[packit] Propose update failed for release 0.13.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-08-24 06:10] lachmanfrantisek commented on #356
stale-bot, you've closed the non-stale issue once again !

[2020-09-01 13:57] dhodovsk opened #457 "New minor release"

[2020-09-02 07:22] packit-as-a-service-stg[bot] opened #459 "[packit] Propose update failed for release 0.14.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-09-02 08:18] lachmanfrantisek commented on #459
Expected on stage.

[2020-09-02 08:18] #459 closed

[2020-09-08 07:02] lachmanfrantisek opened #461 "[github] Use check-runs for richer API"
There is a [check-runs API](https://docs.github.com/en/rest/reference/checks) that allows more functionality and e.g `neutral` state requested in https://github.com/packit/packit-service/issues/760.

Unfortunately, it's [not implemented in PyGithub yet](https://github.com/PyGithub/PyGithub/issues/1621).

This project builds on top of `PyGithub` and implements that: https://github.com/webknjaz/chec

[2020-09-16 07:25] sentry-io[bot] opened #464 "[Pagure] ProtocolError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))"
Sentry Issue: [RED-HAT-0P-2PA](https://sentry.io/organizations/red-hat-0p/issues/1785839618/?referrer=github_integration)

[code]

[2020-09-16 09:12] mfocko commented on #329
I'll have a look

[2020-09-16 09:21] lachmanfrantisek commented on #464
Some retry mechanism?

[2020-09-16 09:45] mfocko commented on #456
as expected

[2020-09-16 09:45] #456 closed

[2020-09-16 13:15] #457 closed

[2020-09-16 15:33] packit-as-a-service-stg[bot] opened #466 "[packit] Propose update failed for release 0.15.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-09-16 15:47] mfocko commented on #466
expected

[2020-09-16 15:47] #466 closed

[2020-09-18 14:55] #338 closed

[2020-09-21 07:17] lachmanfrantisek commented on #209
Since the https://hacktoberfest.digitalocean.com/ starts soon, we should try to fix this. The rebase is enforced via pre-commit, but those links can be helpful and do not need much work to add it.

[2020-09-21 12:24] mfocko commented on #209
I'll have a look in the evening and propose some changes in PR

[2020-09-22 07:28] lachmanfrantisek commented on #412
Looks like we have two votes for the second option and noone else cares about that.

@mfocko can we start working on this?

So:
- Implement the version `B`. I am for `B` as well but have one suggestion:
  - What about having also `fork` argument instead of the fork username, what do you think? Or instead of the username?
- Do what Hunor suggested under the hood.

[2020-09-23 21:21] mfocko commented on #412
@lachmanfrantisek sure

[2020-09-24 19:38] mfocko opened #472 "Missing response for F31"
Introduced in #452

There's a missing response for GitLab (F31 version of python-gitlab) tests

[2020-09-24 20:15] #209 closed

[2020-09-30 09:36] mfocko opened #473 "New minor release"

[2020-09-30 13:44] lachmanfrantisek commented on #126
Looks like we are missing only Pagure know which does not provide that value.

See: https://src.fedoraproject.org/api/0/#users-tab

[2020-09-30 13:46] lachmanfrantisek commented on #126
Can anyone check that, please?

We have two options:
- Create a bug report (since email can be kind of private information, I am not sure if they will be willing to do that) and implement that
- Raise some meaningful exception for Pagure and close this issue. (Preffered by me..)

[2020-09-30 14:51] lachmanfrantisek commented on #330
It looks like we don't know about Pagure instance that uses private repositories. Can we pretent it's a rule and hardcode `False` for Pagure projects?

[2020-09-30 15:25] lachmanfrantisek commented on #383
This should be fixed by #418

[2020-09-30 15:25] #383 closed

[2020-09-30 19:27] packit-as-a-service-stg[bot] opened #475 "[packit] Propose update failed for release 0.16.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-10-01 08:40] lachmanfrantisek commented on #475
Known issue on stage.

[2020-10-01 08:40] #475 closed

[2020-10-02 09:12] csomh commented on #126
Would it be possible to return `None` for Pagure? I feel an exception would be a little bit harsh.

[2020-10-02 09:14] csomh commented on #330
I'm fine with that. We can change this when/if it becomes an issue.

[2020-10-05 08:12] lachmanfrantisek commented on #445
Much better since the last test rework but still not ideal. This is more an epic than a single issue.

[2020-10-06 12:06] lachmanfrantisek commented on #448
Outdated, closing.

[2020-10-06 12:06] #448 closed

[2020-10-07 12:16] mfocko commented on #126
will resolve with Friday work

[2020-10-07 12:20] mfocko commented on #330
Could be probably resolved by creating new service without auth and in case of 404 return `True` (same is happening with github if you try to look up private repo without auth). Will look into it.

[2020-10-12 12:16] #126 closed

[2020-10-12 12:23] mfocko opened #478 "Refactor exceptions for non-supported features"
Change all exceptions that are raised for an unsupported feature to `OperationNotSupported` (from the default `NotImplementedError`)

closer info: https://github.com/packit/ogr/pull/477#discussion_r503077265

[2020-10-12 13:47] lachmanfrantisek commented on #478
Just to make it clear:
We are speaking about methods that we can't implement because of the missing API on the git-forge side (e.g. Github/Pagure).

As an example, `GitHub` can't create private/confidential issues or `Pagure` can't comment on commits.

---

The abstract classes and the methods we haven't implemented yet should still have `NotImplementedError`.

[2020-10-13 06:45] shreyaspapi commented on #329
@mfocko are you still working on this?

[2020-10-13 07:05] mfocko commented on #329
You can take it if you want ;)

[2020-10-14 08:39] lachmanfrantisek opened #480 "Implement project.exists for GitHub"
We already have `exists` method implemented for Pagure and the #479 adds the support for GitLab. GitHub is the last one missing.

- [ ] Look at the other implementations and add `exists` method to the `GithubProject` class.

[2020-10-14 10:27] mfocko opened #481 "GitLab service cannot be created without providing auth"
ogr allows creating GitHub service instances without any authentication (provides read-only access)

Based on testing for #479 it's been found out that we cannot create GitLab instance without providing token (as we can with GitHub) *even though* it is supported by `python-gitlab` (https://python-gitlab.readthedocs.io/en/stable/api-usage.html#gitlab-gitlab-class)

[2020-10-14 15:43] csomh commented on #473
Let's do another one, please.

[2020-10-14 15:44] #473 closed

[2020-10-15 06:05] packit-as-a-service[bot] opened #484 "[packit] Propose update failed for release 0.17.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `The distgit repository /tmp/packit-dist-gitbut5ttez is dirty.This is not supported.` |
| `f32` | `Cmd('git') failed due to: exit code(128)   cmdline: git reset --hard remotes/origin/0.17.0-f32-update   stderr: 'fatal: ambiguous argument 'remotes/origin/0.17.0-f32-update': unknow

[2020-10-15 07:01] csomh commented on #484
/packit propose-update

[2020-10-15 07:27] csomh commented on #484
/packit propose-update

[2020-10-15 07:28] #484 closed

[2020-10-15 12:35] lachmanfrantisek opened #485 "Listing of the projects"
It would be nice to be able to list projects for given criteria:

- namespace
- owner
- search patter
- order options (name, update, activity, ...) (ascending x descending)
- ... feel free to add/propose more (we can implement only a subset for the first version)

Add `list_projects` method:
- [ ] to the `abstract.py` to the `GitService` class
- [ ] for each implementaion `GithubService`, `GitlabS

[2020-10-15 15:36] packit-as-a-service-stg[bot] opened #486 "[packit] Propose update failed for release 0.17.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-10-17 13:30] shreyaspapi commented on #329
Can we have multiple assignees in pagure issues?

[2020-10-17 13:40] nasirhm commented on #329
@shreyaspapi Nope, We don't.

[2020-10-19 04:36] abkosar commented on #485
Hey @lachmanfrantisek, I would like to work on this if that's okay. And just wanted to ask how speedy do you expect this since I'm still kind of new to open source?

Thanks!
Arda

[2020-10-19 07:17] lachmanfrantisek commented on #485
@abkosar that would be nice!

This is really nothing urgent. Take your time, get familiar with the code and our [contribution guide](https://github.com/packit/ogr/blob/master/CONTRIBUTING.md)...

And don't forget to ask if you need some help.

[2020-10-19 07:46] lachmanfrantisek commented on #486
Expected on stage...

[2020-10-19 07:46] #486 closed

[2020-10-19 13:09] abkosar commented on #485
@lachmanfrantisek Thanks! I'll start working on it then!

[2020-10-20 14:41] #329 closed

[2020-10-21 05:27] shreyaspapi opened #490 "GithubObject has no attribute "NotSet""
By running `pre-commit run --all-files` getting the below error without using the strict mode. I am not sure what NotSet does in this case.
[code]
The changes were made in this PR - https://github.com/packit/ogr/pull/476

[2020-10-21 07:09] lachmanfrantisek commented on #490
It's interesting that pygithub uses that as well and zuul didn't complain when it was merged. @mfocko was facing this last week, didn't you?

Isn't this about cached (=old) packages managed by pre-commit?

[2020-10-21 09:36] mfocko commented on #490
It's a pretty weird error...
- it's used in PyGithub for some time already, so cache is out of question
- I've been trying to fix it in separate source (completely out of ogr), failed
- glanced through the sources, it seems they don't have the `NotSet` in `GithubObject.pyi`, so the mypy is not aware of its existence...

[2020-10-21 11:18] #215 closed

[2020-10-21 12:44] #481 closed

[2020-10-22 14:52] path2himanshu commented on #480
Hey @lachmanfrantisek Can you please assign this to me.

[2020-10-23 05:32] abkosar commented on #485
HI @lachmanfrantisek -- So I have been trying to get familiar with the code and I think I kind of understood what I'm supposed to do but just wanted to confirm:
- GithubService/GitlabService/PagureService inherits from BaseGitService and that inherits from GitService.
- I added the following to the GitService:
[code]
- And now I will implement the filtering option for each of the services.

Let me

[2020-10-23 06:46] lachmanfrantisek commented on #485
Yes, there is an abstract `GitService` that defines our API, the base class contains shared and helper code between all the implementations. And then there are our implementaions. Same is for other classes.

I would only use full header and `List[GitProject]` as a type annotation:

[code]

:+1:  Yes, it looks right to me.

[2020-10-23 07:28] lachmanfrantisek commented on #480
@path2himanshu sure!

Here is our [contribution guide](https://github.com/packit/ogr/blob/master/CONTRIBUTING.md) and don't forget to ask if you need some help.

[2020-10-23 12:57] abkosar commented on #485
Sounds good, will do👍

[2020-10-26 04:36] abkosar commented on #485
@lachmanfrantisek So more deep dive to the code, I have a point that I want to clarify:

- In `ogr.services.github.user.py`, in GithubUser class there is a `get_projects` function which lists all the projects for the authenticated user. What will be the difference of the `list_projects` function?

[2020-10-26 07:07] lachmanfrantisek commented on #485
Good point!

The one in the user class should list only projects of the user, the one we want to implement is to list all the repositories that matches the rules.

[2020-10-26 13:42] abkosar commented on #485
Got it, I'm glad I asked it then. So this function will (in a sense) be like the search bar on Github? Regardless of the user it will filter and list all the repos based on the function inputs?

[2020-10-26 14:54] lachmanfrantisek commented on #485
@abkosar Yes, exactly.

[2020-10-27 04:49] abkosar commented on #485
@lachmanfrantisek  So I spent tonight reading Github Search API's documentation and added `language` to the `list_projects` function as an argument which I thought could be useful:
[code]

I couldn't find anything about namespace though, what do you mean by `namespace`? And also by `search_pattern`?

There are multiple ways to search repos like keywords contained in README file, number of starts,

[2020-10-27 08:43] lachmanfrantisek commented on #485
:+1: I like that!

username or group, e.g. [packit](https://github.com/packit), [lachmanfrantisek](https://github.com/lachmanfrantisek), or [packit-service/src](https://gitlab.com/packit-service/src).

A regular expression that matches the project name.

Yes, but let's start with something and enhance later. What do you think? (We also want to support options that we are able to implement across m

[2020-10-27 12:41] jpopelka opened #492 "New minor release"

[2020-10-28 13:58] abkosar commented on #485
So searching for a group/org or username requires different queries. Then I guess I should either add an `is_org` parameter or maybe an `org_name` parameter in order to differentiate between a user and org search?

That sounds doable. So if there is a search pattern it will filter that from the listed projects/repositories?

I agree. I think let's keep it simple and aim to implement across multipl

[2020-10-29 08:16] lachmanfrantisek commented on #485
What about having `username` argument and `namespace` that will work in a following way:
- use `username` search for `username`
- use both `username` and `group` search for `namespace` since it actually is a namespace (at least on GitHub)

:+1:

[2020-10-29 09:59] packit-as-a-service-stg[bot] opened #494 "[packit] Propose update failed for release 0.18.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f31` | `Failed to init kerberos ticket:` |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can re-trigger the update by adding `/packit propose-update` to the issue comment.

[2020-10-29 10:19] lachmanfrantisek commented on #494
Expected on stage.

[2020-10-29 10:19] #494 closed

[2020-10-30 23:47] #214 closed

[2020-10-31 00:41] abkosar commented on #485
@lachmanfrantisek  Sorry for the late reply man, I am on the verge of an international move so some days are very busy.

I will check this option out it seems doable I think. For now I am using PyGithub but let me see what endpoints you have it to do that.

[2020-11-02 10:30] lachmanfrantisek commented on #485
@abkosar No problem, take your time..;)

[2020-11-02 13:06] abkosar commented on #485
Thanks, appreciate it!

I think I am done with GithubService. Would you prefer that I do each of them and do a PR or should we check GithubService, optimize it and do the other ones with the optimized logic?

[2020-11-03 07:45] lachmanfrantisek commented on #485
We can go by smaller steps and if possible, I would like to have less functionality for all the forges first. And then improve.

[2020-11-03 17:59] abkosar commented on #485
Sounds good then. Let me implement the other ones as well and then do a PR so you can review.

[2020-11-09 09:00] lachmanfrantisek commented on #461
https://github.com/PyGithub/PyGithub/issues/1621#issuecomment-703189602: ..;(

[2020-11-11 15:54] dhruvmanila commented on #461
Hey, I wanted the checks API for my side project and so I completed the CheckRun feature :) https://github.com/PyGithub/PyGithub/pull/1727. Once that is merged and if I get the permission to work on top of this https://github.com/PyGithub/PyGithub/pull/1646, I might complete the CheckSuite feature as well.

[2020-11-12 08:26] lachmanfrantisek commented on #461
@dhruvmanila Thanks for your work and for letting us know!

[2020-11-18 11:39] mfocko commented on #413
Looked into it, summary:
1. created a pending commit status
   - `created_at` was set, `started_at` and `finished_at` is `null`
2. set it to running
   - `created_at` persisted, `started_at` was set
3. set it to failed
   - `created_at` and `started_at` was kept, `finished_at` was set
4. set it to success
   - creates new commit status with just `created_at` and `finished_at`; previous one is mark

[2020-11-19 10:17] lachmanfrantisek commented on #413
So at least some info, warning, exception?

[2020-11-19 10:42] lachmanfrantisek commented on #464
We still need the retry mechanism, relevant to https://github.com/packit/packit-service/issues/830

[2020-11-19 10:50] lachmanfrantisek commented on #437
We still want to have similar functionality for all forges.

[2020-11-24 11:07] mfocko commented on #472
EOL today, will be irrelevant; will close later

[2020-11-26 14:01] TomasTomecek opened #496 "ogr can't parse a subnamespace in gitlab's URL"
[code]

[2020-11-26 14:01] TomasTomecek commented on #496
and this is breaking packit, since it wants to find out the namespace desperately, and can't

[2020-11-26 14:11] mfocko commented on #496
right, it's the `:` since, it's used for username, but also could mean port, and for SSH it also separates hostname...

[2020-11-26 14:11] lachmanfrantisek commented on #496
Is this some deprecation after the refactor? Or something ssh url specific? (I've fixed that some time ago already...)

[2020-11-26 14:13] mfocko commented on #496
ssh url, but it looks like the port is not allowed... so...

[code]

[2020-11-26 14:53] mfocko commented on #496
Sweet, Pagure uses `fork` for HTTP URL and `forks` for SSH URL...

[2020-11-26 14:58] TomasTomecek commented on #496
lol `Gitea: Internal Server Error` making devops' job fun

yeah, Hunor also pointed out inconsistency in fork vs. forks

[2020-11-26 17:21] mfocko commented on #496
took port as part of namespace, not a problem on the forge' side :D

I'll probably push some tests first, so we can agree on expected attributes

[2020-11-30 07:36] lachmanfrantisek commented on #212
This is really easy...

[2020-11-30 07:38] lachmanfrantisek commented on #360
This would be really useful -- Also Miro was interested in a workflow of mapping commits to PRs. This can be the first step.

[2020-11-30 07:40] lachmanfrantisek commented on #416
We might want to implement this to be able to have source-gits on GitLab.

[2020-11-30 08:37] #472 closed

[2020-11-30 12:43] mfocko commented on #365
**bump** (needed a lot in tests)

[2020-11-30 13:14] lachmanfrantisek commented on #424
Well defined makes sense. Let's keep it open.

[2020-12-01 11:46] #496 closed

[2020-12-03 12:08] TomasTomecek commented on #496
just verified this is now fixed

[2020-12-03 12:41] lachmanfrantisek commented on #437
Hey, stale-bot!

[2020-12-06 16:06] mfocko commented on #330
blocked by https://pagure.io/pagure/issue/5038

[2020-12-07 08:01] lachmanfrantisek commented on #420
I would still like to see it implemented. At least basic object that will contain `gitlab-python` representation as an attribute.

[2020-12-07 08:08] lachmanfrantisek commented on #445
What about spending some on it before Xmas, @mfocko , @jscotka ?

[2020-12-09 11:20] #365 closed

[2020-12-09 13:19] TomasTomecek opened #506 "python doesn't like the new __repr__"
[code]

https://softwarefactory-project.io/logs/70/970/b8e3aa6794ccc0999106539acb1829d5ea08d03b/check/reverse-dep-packit-service-tests/bc1e055/job-output.txt.gz

[2020-12-09 13:21] TomasTomecek commented on #506
#505

[2020-12-09 13:21] #506 closed

[2020-12-09 13:27] sakalosj opened #507 "New patch release"

[2020-12-09 13:27] #507 closed

[2020-12-09 14:16] csomh opened #509 "`project.get_branches()` should also return the HEAD commits for each branch"
Similar to how `get_tags()` return `GitTag` objects which also store the commit sha, would be nice if `get_branches()` would return `GitBranch` objects with a `head` attribute storing the commit sha of the HEAD of the branch.

Most probably related to #359.

[2020-12-09 14:56] lachmanfrantisek commented on #509
Good point!

I've put that point to the issue, you've linked. Is that OK? Can we close this one now?

[2020-12-10 08:31] csomh commented on #509
I will leave it up to you. Personally I have the feeling that this and #359 are related but have different time horizons, b/c changing `get_branches()` will require several releases in order to keep the API backwards compatible.

[2020-12-10 11:17] packit-as-a-service-stg[bot] opened #511 "[packit] Propose update failed for release 0.18.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `f34` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can retrigger the update by adding a comment (`/packit propose-update`) into this issue.

[2020-12-10 11:18] packit-as-a-service[bot] opened #512 "[packit] Propose update failed for release 0.18.1"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f34` | `Ref 'remotes/origin/f34' did not resolve to an object` |

You can retrigger the update by adding a comment (`/packit propose-update`) into this issue.

[2020-12-11 09:14] lachmanfrantisek commented on #511
Expected on stage.

[2020-12-11 09:14] #511 closed

[2020-12-11 09:19] lachmanfrantisek commented on #509
Good point, but I would merge it because we need to think about the deprecations in the other card as well.

[2020-12-11 09:19] #509 closed

[2020-12-27 02:04] abkosar commented on #485
Hey @lachmanfrantisek, Merry Christmas! I just settled in (completely) and going to work actively on this from now on, just wanted to give an update.

[2020-12-29 03:38] abkosar commented on #485
So I have one question.

Is there an easier way to test what I add? Currently I save my code, from the terminal type `python` and kind of import the `GitlabService` for example and then try to use the `list_projects` function.

It works but it kind of feels cumbersome so just curious if there is an easier way to do it.

[2021-01-04 09:01] csomh commented on #356
still needed

[2021-01-04 09:02] csomh commented on #384
still valid

[2021-01-04 12:17] lachmanfrantisek commented on #485
Thanks for the update.

Same as for other git-forges. I would put that into the test cases. (Set of queries with expected results.) We use requre for our tests -- it asks the Gitlab only for the first time and records the responses. The other runs (i.e. in the CI) are offline and with the stable response. It's a bit tricky for the first time but really handy. There is something about that [in our

[2021-01-04 12:34] lachmanfrantisek commented on #478
Still valid.

[2021-01-05 16:12] lachmanfrantisek commented on #480
@path2himanshu Hi, do you still want to work on this?

[2021-01-07 12:06] packit-as-a-service[bot] opened #519 "[packit] Propose update failed for release 0.19.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f34` | `Ref 'remotes/origin/f34' did not resolve to an object` |

You can retrigger the update by adding a comment (`/packit propose-update`) into this issue.

[2021-01-07 12:07] packit-as-a-service-stg[bot] opened #520 "[packit] Propose downstream failed for release 0.19.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f32` | `Failed to init kerberos ticket:` |
| `f33` | `Failed to init kerberos ticket:` |
| `f34` | `Failed to init kerberos ticket:` |
| `master` | `Failed to init kerberos ticket:` |

You can retrigger the update by adding a comment (`/packit propose-downstream`) into this issue.

[2021-01-07 12:55] #520 closed

[2021-01-16 04:16] abkosar commented on #485
So I have never used/seen pagure before therefore I decided to do a PR with what I have and then we can discuss here. However when I do my pre-commit checks I get the following errors which I do not know how to fix:

[code]

In abstract.py `list_projects` is defined like this:
[code]

And in each service instead of `List["GitProject"]` I did for example; `List["GithubProject"]`. I also tried keepi

[2021-01-18 11:51] lachmanfrantisek commented on #485
@abkosar It's sometimes tricky to make mypy happy. I would try to go with a general type in all the methods. We already use this approach elsewhere, e.g. here:

https://github.com/packit/ogr/blob/320ba0abd0e76312e9c19db275bc74cb04124560/ogr/services/github/project.py#L270-L278

https://github.com/packit/ogr/blob/320ba0abd0e76312e9c19db275bc74cb04124560/ogr/abstract.py#L978-L984

I hope the warning

[2021-01-22 01:34] abkosar commented on #485
@lachmanfrantisek So I tried your suggestion:

- `abstract.py`
[code]

- `github/service.py`
[code]
and for `github` it returns a list of `GithubProjects` which inherits from `BaseGitProject` and that inherits from `GitProject`. But I still get the following errors for both `github` and `gitlab` (since I haven't implemented pagure yet, it just has `raise NotImplementedError`):

[code]

[2021-01-22 08:04] lachmanfrantisek commented on #485
@abkosar Hi, please create a PR so we can discuss on the code. (You can skip the hooks by adding `-n` to the git command.)

It looks to me like the variable with the list is `List[GitlabProject]` that is (for mypy) not a subtype of `List[GitProject]`. You need to instantiate that variable with setting that type or explicitly state that before return:

[code]
or this:

[code]

[2021-01-22 13:24] #413 closed

[2021-01-22 21:26] mfocko commented on #461
looks like not blocked anymore, might have look into it

[2021-01-25 13:36] lachmanfrantisek commented on #412
@mfocko Do you have some time to take a look? (Some Friday work?..;-)

[2021-01-29 13:08] sentry-io[bot] opened #525 "ValueError: Invalid state given"
Sentry Issue: [PACKIT-SERVICE-344](https://sentry.io/organizations/red-hat-0p/issues/2186745366/?referrer=github_integration)

[ogr's GithubCommitFlag](https://github.com/packit/ogr/blob/main/ogr/services/github/flag.py#L33) does not count with [CommitStatus.canceled & CommitStatus.running](https://github.com/packit/ogr/blob/fc554ee35abf2f75cf47e3ca8025c17c3e86cc6e/ogr/abstract.py#L579)

[2021-01-29 13:14] jpopelka commented on #525
I know [Github knows only these states](https://docs.github.com/en/rest/reference/repos#statuses) but I think ogr should "translate" 'canceled' & 'running' into one of them. What about
- running -> pending
- canceled -> (yeah, this one's tricky) error ?

[2021-01-29 13:21] mfocko commented on #525
there might not be need for mapping, see #461 (is on TODO list, but is bit more complicated since it's not really a _commit status_)

[2021-02-03 19:24] #212 closed

[2021-02-04 14:50] mfocko commented on #492
new minor release

[2021-02-04 19:32] mfocko commented on #480
Closed by #521

[2021-02-04 19:32] #480 closed

[2021-02-04 19:33] #492 closed

[2021-02-04 19:34] mfocko commented on #512
known issue

[2021-02-04 19:34] #512 closed

[2021-02-04 19:59] mfocko commented on #330
still blocked

[2021-02-04 19:59] mfocko commented on #214
did we do something about this in the end?

[2021-02-05 08:34] lachmanfrantisek commented on #214
I don't think so. Do you think we need to take a look? As I wrote above, at least some agreement and, ideally, docs in the contribution guide would be nice.

[2021-02-05 09:07] packit-as-a-service[bot] opened #529 "[packit] Propose downstream failed for release 0.20.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `epel8` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/o/ogr/ogr-0.20.0.tar.gz. Reason: 'Not Found'. ` |
| `f32` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/o/ogr/ogr-0.20.0.tar.gz. Reason: 'Not Found'. ` |
| `f33

[2021-02-05 09:24] mfocko commented on #529
/packit propose-downstream

[2021-02-05 09:26] packit-as-a-service[bot] opened #530 "[packit] Propose downstream failed for release 0.20.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `epel8` | `[Errno 2] No such file or directory: '/tmp/packit-dist-gitl5r40_6q/sources'` |
| `f34` | `Ref 'remotes/origin/f34' did not resolve to an object` |

You can retrigger the update by adding a comment (`/packit propose-downstream`) into this issue.

[2021-02-05 09:28] #529 closed

[2021-02-09 13:57] mfocko opened #532 "Docstrings' format"
Tools that we use for autogeneration of documentation support mainly markdown (also optionally numpy or google style of docstrings). We should transition from our current sphinx-style of comments to one of those.

- [ ] decide between markdown, numpy or google style
   - [ ] update GitHub action for generating of documentation if necessary
- [ ] update docstrings to adhere to the chosen style/form

[2021-02-09 14:01] mfocko opened #533 "Remove duplicit docstrings + make documentation easier to navigate"
pdoc(3) supports inheriting of docstrings, there is no need to have multiple identical docstrings and also try to rethink exporting of the classes/modules through `__all__`, since it makes the documentation harder to navigate

- [ ] remove duplicit docstrings
   - [ ] add specific docstrings where the interface deviates
- [ ] try to think about better structure of exports for `__all__` (shouldn't

[2021-02-09 14:05] mfocko opened #534 "Add a link to documentation to README"
Residing at https://packit.github.io/ogr

Follow-up of #531

[2021-02-09 14:12] mfocko opened #535 "Transition to pdoc from pdoc3"
Currently we use [pdoc3](https://pypi.org/project/pdoc3/) to generate our documentation, it would be in our interest to switch to original project [pdoc](https://pypi.org/project/pdoc/), since it provides built-in search feature and cleaner UI.

Currently can't be used since there is a failure while parsing our source files.

Follow-up of #531

[2021-02-09 14:13] mfocko commented on #53
Fixed by #531
present at https://packit.github.io/ogr

[2021-02-09 14:13] #53 closed

[2021-02-11 09:44] csomh commented on #532
I have a prefference for Google Style doc-strings mainly because it's much easier on the eyes, which is important for those who are stuck in the past century and still using vim for editing.

But if I recall it correctly Sphinx-style was preffered, b/c that is the default (?) in PyCharm, which is used by most of the team (for reasons I cannot comprehend till this day, but that's another story). An

[2021-02-11 14:47] lachmanfrantisek commented on #532
Yes, one reason is probably PyCharm, the other one is that using Sphinx was more common at that time (?).

Using markdown would be more natural but I don't know about any standard/integration/checker/...

So, if both pdoc and PyCharm supports both google and numpy, I would use one of these.

Personally, I like the google style more since we use type annotations in the code.

[code]

instead of:

[

[2021-02-12 12:21] #530 closed

[2021-02-12 12:22] mfocko commented on #464
resolved by #514

[2021-02-12 12:22] #464 closed

[2021-02-15 20:48] #310 closed

[2021-02-18 11:00] mfocko opened #540 "`get_latest_release` when no release exists"
[code]

In case that no release exists, I'd expect to get `None` instead of being smacked in face with exception.

- GitHub throws 404 Exception
- GitLab throws IndexError

Action items:
- [ ] Switch return type from `Release` to `Optional[Release]`
- [ ] Update implementation to check for such situation

Could be used in refactor for packit/packit-service#985, currently is a blocker, since we nee

[2021-02-22 10:07] #540 closed

[2021-02-24 08:26] TomasTomecek opened #545 "Max retries exceeded with url files.pythonhosted.org"
I believe this is a flake but wanna make sure it's not an actual bug. The logs are coming from [a sandcastle CI run](https://github.com/packit/sandcastle/pull/104#issuecomment-784432707).
[code]
My assumption is this was a network flake with files.pythonhosted.org but since the new retry mechanism can be seen in play here, I wanna confirm this behaviour is expected.

[2021-02-24 09:16] TomasTomecek commented on #545
I retriggered the tests and they passed now, so this indeed was just a networking flake.

[2021-02-24 09:16] #545 closed

[2021-02-24 12:53] mmuzila commented on #545
This has nothing to do with the new retry mechanism ([ogr#537](https://github.com/packit/ogr/pull/537)). It handles errors for Github calls only.

[2021-03-03 14:38] packit-as-a-service[bot] opened #548 "[packit] Propose downstream failed for release 0.22.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `epel8` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/o/ogr/ogr-0.22.0.tar.gz. Reason: 'Not Found'. ` |
| `f32` | `Failed to download file from URL https://files.pythonhosted.org/packages/source/o/ogr/ogr-0.22.0.tar.gz. Reason: 'Not Found'. ` |
| `f33

[2021-03-03 15:54] csomh commented on #548
/packit propose-downstream

[2021-03-08 08:50] #548 closed

[2021-03-08 08:51] TomasTomecek opened #551 "authentication: support alternative server for git and git-forge API (src.fp.o)"
This is gonna be a fun one: I tried to use upsint to create a PR in src.fedoraproject.org/rpms but failed because there are two different servers for the forge API and a git server:

I use SSH:
[code]

But pagure API is at
[code]

I'm wondering if it's possible to set up an authentication entry which would recognize pkgs.fp.o but route API requests to src.fp.o. Tried these but none of them worked

[2021-03-08 09:16] lachmanfrantisek commented on #551
To understand it:
* Are the ssh links received from the Pagure API correct? (This is probably not your problem.)
* You want to create an `src.fedora..` service but match also `pkgs.fedora..` URLs to use it, don't you? (So, a problem with the methods in `factory.py`?)

What about adding a `matching_url`/`matching_urls` key to the dictionary, that will be used to match instance but not to call the A

[2021-03-08 13:36] TomasTomecek commented on #551
Yup, they are correct. `fedpkg clone` sets "pkgs" instead of "src" as well.

Correct!

I want to be able to create dist-git PRs via upsint :D

Anyway, when I do this, it works:
[code]

So let's not implement this wonky RFE. Franto, thanks for the reply and thorough investigation.

[2021-03-08 17:41] lachmanfrantisek commented on #356
This can be now easily documented in the method/class dosctring that will be shown on our doc page: https://packit.github.io/ogr/

[2021-03-08 17:43] lachmanfrantisek commented on #384
Let's keep it for some newcomer.

[2021-03-08 17:45] lachmanfrantisek commented on #478
This is easy! A really nice good-first-issue that is easy to do but require going through the code.

[2021-03-10 14:34] #551 closed

[2021-03-12 16:51] TomasTomecek commented on #534
This is now fixed, right? :)

[2021-03-12 16:52] TomasTomecek commented on #534
Oh my, so glad we now have docs here! I won't need to check API in the code any more.

[2021-03-12 17:37] mfocko commented on #534
yup, i'm also converting to google format of docstrings, there's no PR, cause it's a lot and no reason to trigger CI :man_shrugging:

[2021-03-12 17:37] #534 closed

[2021-03-15 17:37] TomasTomecek opened #557 "`authentication: type: gitlab` results in `TypeError: __init__() got an unexpected keyword argument 'type'`"
[code]

[code]

It's tracebacking on the `type: gitlab` - I don't understand, what's wrong there? Especially when `type: pagure` is fine.

[2021-03-15 20:43] Roming22 opened #559 "mypy cannot use the type annotation"
The package is not PEP-561 compliant (see https://mypy.readthedocs.io/en/latest/installed_packages.html#creating-pep-561-compatible-packages).

The file `py.typed` need to be added at the root of the ogr package.

[2021-03-16 04:50] #490 closed

[2021-03-16 10:05] lachmanfrantisek commented on #559
Good to know, thanks for creating the issue and sending us the PR.

[2021-03-16 14:12] mfocko commented on #557
type has been passed to constructor; type is used for determining the forge, **but is not** passed to the constructor, since the constructor is already forge-specific

[2021-03-17 12:45] #557 closed

[2021-03-17 14:43] mfocko commented on #559
closed by 33f4be5, right?

[2021-03-17 14:43] #559 closed

[2021-03-17 14:44] mfocko commented on #490
there was one fedora release EOL already, is this issue still relevant? or can we even safely remove the workaround for different versions?

[2021-03-17 14:57] jpopelka commented on #559
yes, #560

[2021-03-18 08:24] lachmanfrantisek commented on #478
Ping sync to Jira.

[2021-03-23 13:03] lachmanfrantisek commented on #478
Ping sync to Jira.

[2021-03-26 13:15] lachmanfrantisek commented on #461
This is still something we want to work on.

[2021-03-26 13:18] lachmanfrantisek commented on #485
Still something we want to have and there is already an open PR solving this.

[2021-04-19 09:15] mfocko commented on #330
blocked

[2021-04-19 15:26] TomasTomecek commented on #359
Since we haven't implemented this in a year, I am going to close.

[2021-04-19 15:26] #359 closed

[2021-04-19 15:26] TomasTomecek commented on #360
We haven't implemented this in a year which means we don't need it badly, so I am going to close.

[2021-04-19 16:59] mfocko commented on #445
still needed

[2021-04-19 17:00] mfocko commented on #532
there is some progress https://github.com/mfocko/ogr/tree/documentation

[2021-04-22 08:19] #478 closed

[2021-04-22 09:57] lachmanfrantisek commented on #420
We will need this soon...

[2021-04-22 10:14] lachmanfrantisek commented on #533
@mfocko , you are working on this, aren't you?

[2021-04-22 10:15] mfocko commented on #533
yeah, slowly... didn't even realize how much docs do we have in ogr :D

[2021-04-26 11:08] lbarcziova opened #573 "ImportError: cannot import name 'GitlabGetError' from 'gitlab.v4.objects'"
After the latest python-gitlab release, this error showed up in [packit tests](https://github.com/packit/packit/pull/1213#issuecomment-826668194).

[2021-04-27 06:45] csomh opened #576 "Collecting tests takes unusually long"
As of ba28f9e pytest's test collection takes unusually long, that is 2 minutes+.

I've seen this happening both locally, when running the tests with `make check` or `make check-in-container`, and in Zuul (both the pip and rpm tests are affected).

[code]

[2021-04-27 07:22] lachmanfrantisek commented on #576
@jscotka Can you please take a look? I don't hit this problem with older versions of requre so it looks suspicious...

@csomh I can see that problem also in older commits:

[code]

(https://softwarefactory-project.io/logs/71/571/39b5af78b9f24224f5a3dfdee1ce0698564018e4/check/ogr-tests-rpm/6d6700e/job-output.txt)

[2021-04-27 07:41] csomh commented on #576
@lachmanfrantisek nice catch! The issue is indeed with requre: test collection when `requre==0.6.0` is installed takes half a second.

[2021-04-27 08:38] csomh commented on #576
Not sure if this warning is relevant:

[code]

[2021-04-27 10:04] #573 closed

[2021-04-30 01:02] bcrocker15 opened #579 "Make 'make check' more consistent (and better documented) across all projects"
We need to make 'make check' more consistent (and better documented) across all projects:
packit
packit-service
ogr
sandcastle
deployment

[2021-05-16 15:09] mrc0mmand opened #584 "[GitHub] Support using the `merge` ref instead of the `head` ref"
Hello!

During our experience with Packit in systemd we've encountered multiple occurrences of a a scenario where a change in a pull request breaks the Packit CI when combined with a commit pushed into the main branch _after_ the PR was created - in other words: had the PR been rebased before running the CI the issue would have been detected.

For this reason, our other CIs use the _test/merge_ re

[2021-05-16 15:27] mfocko commented on #584
Hi!

So if I understand correctly, you propose two following changes:

1. `merge_commit_sha` to be added to `ogr` API for pull/merge requests, and
2. ability to configure running Packit-as-a-Service on the "merge commit"
   - I recall some discussion regarding this previously
   - I can see one _smallish_ issue in case of merge conflicts, but I guess that could be definitely resolved by falling ba

[2021-05-16 15:46] mrc0mmand commented on #584
Exactly!

In this case it might help checking the `mergeable` field (`github.PullRequest.mergeable` in PyGithub):

But I suspect it might not be the universal solution for all git forges.

Hah, I completely missed this one when I was trying to find if this was already requested, thanks!

Feel free to keep/transfer/closed this one then, I've subscribed to packit/packit-service#245 since it's basica

[2021-05-17 15:35] TomasTomecek commented on #584
Let's keep this one to track the ask for ogr and then continue the discussion for the whole change in the packit-service's issues :)

I think this is a good suggestion, I'm wondering what happens when the PR cannot be merged to the target branch - this is the reason why I think we should support both workflows: building from contributor's branch and building from a merged result. I'd say both are

[2021-05-17 15:54] mfocko commented on #584
At least for GitHub you get `true, false, null`, `true` means "merged", `false` should be conflict, `null` not finished.
In case of GitLab I just checked on of the opened MRs, it seems they don't do it... The merge commit SHA is populated with the actual merge commit after the MR is merged.

[2021-05-18 08:23] TomasTomecek commented on #584
This should be a fairly cheap operation, right? Unless we are merging 5y old PR.

The main problem I can see from my side is if the merge fails with some obscure error message - though we can check how others are doing this, especially zuul and get inspired.

[2021-05-20 04:42] martinpitt commented on #584
@TomasTomecek , @mvollmer: FYI, this is the issue we talked about yesterday. We ran into that in https://github.com/cockpit-project/cockpit/pull/15823 as well -- the [packit test failure](http://artifacts.dev.testing-farm.io/c712faf8-5fa4-48cd-a740-b724d81af5fd/) happens because it takes outdated tests: that PR was posted from a slightly out of date  fork, while origin/master got some string chang

[2021-05-20 04:47] martinpitt commented on #584
There should be nothing magic to it -- see e.g. [cockpit CI](https://github.com/cockpit-project/bots/blob/master/make-checkout#L45) (`--rebase` is given for all PRs). GitHub workflow's [standard actions/checkout](https://github.com/actions/checkout) also grabs the PR "merge commit" by default, not the fork's  HEAD (you can opt into using the latter).

[2021-05-20 04:48] martinpitt commented on #584
... in other words, packit's code doesn't need to do anything explicitly. It should just clone the merge branch as the description says, that one is already rebased.

[2021-05-20 13:35] #579 closed

[2021-05-20 22:02] KPostOffice opened #586 "Adding assignees for issue that already exists"
Hi all!

Really enjoying working with `ogr`. Would it be possible to add the functionality to add assignees to an issue which already exists?

Refs:
* https://docs.github.com/en/rest/reference/issues#add-assignees-to-an-issue
* https://pygithub.readthedocs.io/en/latest/github_objects/Issue.html#github.Issue.Issue.add_to_assignees
* attached issue shows how to add assignee for GitLab
* https://src.

[2021-05-24 07:47] lachmanfrantisek commented on #586
Hi @KPostOffice, glad you find `ogr` useful!

That's a valid feature request and not hard to implement.

Since you've already linked the documentation and gone through the code, will you be interested in contributing this? (We can help you with that.) Otherwise, I can't tell you an approximation of when this will be ready.

Regarding the implementation, we need to:
* [ ] Add the abstract `add_assi

[2021-05-24 13:20] KPostOffice commented on #586
Yeah, I can contribute this. It seems pretty straight forward. :+1:

[2021-05-25 13:27] #485 closed

[2021-05-26 08:26] sentry-io[bot] opened #590 ""ValueError: Invalid state given" for a gitlab commit status flag"
Sentry Issue: [PACKIT-SERVICE-3CR](https://sentry.io/organizations/red-hat-0p/issues/2417453928/?referrer=github_integration)

[code]

[2021-05-26 12:00] jpopelka commented on #590
As discussed in packit/packit-service#955, this should be "fixed" on packit-service side until we have packit/ogr#461 implemented.

[2021-05-27 01:02] abkosar commented on #535
I would like to work on this if that's ok. I don't have any experience with pdoc but I think I can figure it out.

[2021-05-27 09:43] lachmanfrantisek commented on #535
@abkosar that would be nice!

@mfocko Does it conflict with your ongoing afford with the doc-string cleanup?

[2021-05-27 10:03] mfocko commented on #535
I'm not actually sure. I think the problem was with formatting of our code and the parser of `pdoc`, I'll try to have a look if they have some issue open (or already closed) regarding that. If it is «just» formatting and indentation, it might be more complicated to fix on our side.

[2021-05-27 10:19] mfocko commented on #535
Cannot reproduce with latest version, so I guess the steps are:

- improve the importing (e.g. `__init__.py`, etc.), since `pdoc` does only what sees, right now if you generate for `ogr` it will show only services and everything nested is ignored
- transition the GitHub Action

[2021-05-27 20:17] abkosar commented on #535
Ok cool, so should I move forward with it or should I just hold for now?

[2021-06-01 08:48] sentry-io[bot] opened #596 "Make sure we correctly calculate that an account is collaborator in a gitlab namespace"
Sentry Issue: [PACKIT-SERVICE-3DB](https://sentry.io/organizations/red-hat-0p/issues/2429235662/?referrer=github_integration)

[code]

We are getting reports like these in the gitlab.com/redhat/centos-stream/src namespace even though the accounts are redhatters which totally have write access to the namespace (maybe we need to check parent namespaces as well?)

[2021-06-01 10:05] mfocko commented on #596
[code]

I'll have a look if there is some update for `python-gitlab` or it's just flake, since I see only 1 occurence.

[2021-06-01 10:41] TomasTomecek commented on #596
tl;dr our bot account cannot see all groups so can't determine the write access properly; we're reaching out to the infra teams handling gitlab.com/redhat

[2021-06-01 11:52] mfocko commented on #535
I think you can, assigning to you, in case you run into any issues, let us know, we'll figure something out :)

[2021-06-01 14:57] packit-as-a-service[bot] opened #597 "[packit] Propose downstream failed for release 0.25.0"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f33` | `("Cannot connect to url: 'https://src.fedoraproject.org/api/0/rpms/python-ogr/pull-request/new'.", ConnectionError(ProtocolError('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))))` |

You can retrigger the update by adding a comment (`/

[2021-06-01 15:08] lbarcziova commented on #597
/packit propose-downstream

[2021-06-02 15:56] #437 closed

[2021-06-03 07:40] lachmanfrantisek commented on #112
Reopening since we have in the 1.0 milestone..;)

[2021-06-03 07:44] lachmanfrantisek commented on #412
It would be really nice to finish this work.

[2021-06-03 07:46] lachmanfrantisek commented on #356
My previous comment is still valid -- any volunteer for this quick improvement?

[2021-06-04 12:06] TomasTomecek commented on #584
I didn't realize it's this simple. It also sounds like it's "the right thing" to do and would also solve some weird behaviour (e.g. a PR is not rebased and contains very outdated packit.yaml or other configs).

Bumping the prio here: @lachmanfrantisek shall we plan this one for the next sprint? Sounds like a trivial thing to implement.

[2021-06-07 08:39] lachmanfrantisek commented on #461
@mfocko I hope we are all good here, thanks for implementing this in #592 !

[2021-06-07 08:39] #461 closed

[2021-06-09 08:08] #586 closed

[2021-06-14 09:09] TomasTomecek commented on #597
0.26.0 release went through just fine :O

[2021-06-14 10:21] lbarcziova commented on #597
Yes, the ` ConnectionError(ProtocolError('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')))` occurs randomly, on the second run 0.25.0 went fine as well.

[2021-06-14 10:21] #597 closed

[2021-06-16 21:26] #384 closed

[2021-06-17 19:06] johnbieren opened #603 "AttributeError: author when using PullRequest.comment in GitLab"
When using the PullRequest.comment method against a GitLab instance, an AttributeError is thrown. Despite the error being thrown, the comment is still posted successfully.
Here is the traceback:
[code]

[2021-06-21 08:29] lachmanfrantisek commented on #603
@johnbieren Thanks for letting us know -- someone from the team will take a look at what's wrong here.

Just to check, what version of OGR do you use?

[2021-06-21 09:36] lachmanfrantisek commented on #445
Still would be nice to improve.

[2021-06-21 12:10] johnbieren commented on #603
This was from 0.24.1

[2021-06-21 13:29] TomasTomecek commented on #603
It seems the problem is with constructing the `ogr.GitLabPRComment` instance, not sending the comment. AFAIK python-gitlab evaluates many attributes lazily and the author is not available.

I can see two action items to do on our side:
1. use `.get` instead of direct dict access in `self._author = raw_comment.author["username"]`
2. actually retrieve the author via API on demand

I'd probably imple

[2021-06-22 05:30] lbarcziova commented on #603
Yes, also from the log, the object returned from the comment creation:
`raw_comment = <ProjectMergeRequestNote id:None>`

We could try to retrieve the raw comment from the id of the object returned in the call, but what if there is none?

[2021-06-23 07:27] lachmanfrantisek commented on #420
Since we already have "check runs" for GitHub, we can add this for GitLab in a similar way.

[2021-06-29 17:39] bcrocker15 opened #607 "Implement fetching GitHub secrets in ogr"
This is PACKIT-1506; GitLab also has a concept of secrets, but I think that
can be addressed as a separate issue.

Edit: needed for https://github.com/packit/packit-service/issues/1122

[2021-06-30 06:44] TomasTomecek commented on #607
Agreed, let's focus on GitHub for now.

I'd also love to clarify that fetching of the secrets needs to work when authenticating as a GitHub app.

[2021-07-01 06:56] TomasTomecek commented on #607
I'd like to clarify this is about reading GitHub Actions Secrets: https://docs.github.com/en/rest/reference/actions#secrets and *not* the app/oauth secret token.

[2021-07-01 21:02] TomasTomecek commented on #607
We just realized that the REST API returns **encrypted** secrets and only GitHub has the private key: we wouldn't be able to decrypt them which means this issue cannot be resolved and we're blocked :/

[2021-07-02 00:37] bcrocker15 commented on #607
Hope you don't mind, but I captured your IRC dialogue:

<Ben> So, flachman, mfocko... Any ideas?  Can probably write code modeled on code in site-packages/github....

<packit-irc> <mfocko> /glanced through the API, they have PUT & DELETE for
the secrets ._. what happened to GET? :( we could also contribute to the PyGithub

<Ben> Latest version of code in https://github.com/PyGithub/PyGithub.git do

[2021-07-02 11:47] TomasTomecek commented on #603
Return None as well, or raise an exception I'd say.

[2021-07-07 01:35] bcrocker15 commented on #607
We may actually be closer with GitHub; check out this page:

https://docs.gitlab.com/ee/ci/secrets/

Here is a script to install HashiCorp's Vault, mentioned on the gitlab
page; KV-V2, also mentioned on the gitlab page, is part of Vault.

Make sure to 'sudo' this script:

#!/bin/bash
dnf config-manager --add-repo https://rpm.releases.hashicorp.com/fedora/hashicorp.repo
dnf -y install vault

[2021-07-07 08:25] lachmanfrantisek commented on #607
@bcrocker15 The workflow you've linked is for GitLab runners -- similarly to Github, this is not how we run the service. We want to support the following workflow:

* User can configure a group of secrets (key-value pairs) somewhere in the UI of the git forge.
    * We don't store the secrets and leave the security/permission problems to the forge developers.
* We want to get those secrets over th

[2021-07-07 08:27] lachmanfrantisek commented on #607
I think HashiCorp's Vault itself is just another system for storing secrets -- it fits to our alternative option to support some 3rd party secret provider.

[2021-07-12 07:42] #584 closed

[2021-07-12 10:05] allisonkarlitskaya commented on #584
Yay!  Thanks for landing this!  :heart:

[2021-07-12 10:49] TomasTomecek commented on #584
@allisonkarlitskaya just to be clear, we still need to actually use this functionality in packit, this is only the first part where we implemented the plumbing :) please watch packit/packit-service#245

[2021-07-13 10:10] lachmanfrantisek commented on #533
Reopening, since @mfocko already has spent some time on it.

[2021-07-13 10:13] mfocko commented on #533
@lachmanfrantisek I should open PR and finish it finally :no_mouth:

[2021-07-14 10:59] mfocko commented on #330
still blocked

[2021-07-14 11:27] mfocko commented on #424
nice to have

[2021-07-15 08:55] #416 closed

[2021-07-19 06:26] lachmanfrantisek commented on #607
Sadly, this is not possible to do. We can get only an encrypted form of the secrets without being able to get the key.

[2021-07-19 06:26] #607 closed

[2021-08-02 13:51] TomasTomecek commented on #596
uhhhh, I have no idea if this is resolved or not, but my assumption it isn't :/

[2021-08-02 14:15] mfocko commented on #596
well, this can't be resolved on `ogr`'s side, I think the latest update from this was that you reached out to infra team to do something about that, but haven't heard nor seen any link since then

[2021-08-02 23:38] abkosar commented on #535
I am still working on it.

[2021-08-03 10:08] mfocko commented on #199
as discussed on arch-meeting @ 2021/07/20 this issue should be extended of having generic ogr exception for network (e.g. `ConnectionError` or retries) or internal errors on API endpoints (`50x` return codes). These exceptions are to be processed by `packit-service` or Sentry.

[2021-08-03 16:30] mfocko commented on #412
:roll_eyes:

[2021-08-09 20:30] mfocko commented on #535
@abkosar  I'm sorry, I haven't noticed the comment till today...

In case there is something you need help with, don't hesitate to open PR with whatever you have done and ping us :)

[2021-08-17 08:08] #356 closed

[2021-08-17 08:48] nikromen opened #630 "Give reaction on comment commands in GitHub and GitLab"
According to [packit-service/issues/1081](https://github.com/packit/packit-service/issues/1081) we need to implement `give reaction to the comment` methods for Github and Gitlab.

TODO:
- [ ] give reaction to the Gitlab comment
- [ ] give reaction to the Github comment

[2021-08-17 09:30] mfocko commented on #630
I would probably go generic with the reactions (since it is library). GitHub has a limited set of possible reactions, GitLab seems to support any emoji (it is called _Award Emoji_; just in case you'll be looking for it in documentation, cause it's weird name)

[2021-08-17 20:24] KPostOffice opened #631 "Support creating a fork to an organization on GitHub or groups on GitLab"
Both GitLab and GitHub support namespaces that don't belong to particular users - groups on GitLab and organizations on GitHub. I want to be able to fork to these namespaces if the authenticated user has the correct permissions.

[2021-08-18 06:49] lachmanfrantisek commented on #631
@KPostOffice that's a really good suggestion. I'm a bit surprised we don't have it already. Are you also interested in taking a look at this and send a pull request?

[2021-08-18 06:58] lachmanfrantisek commented on #630
I agree with @mfocko , we can provide an enum or just a string representation (`:+1:` / `+1`). This will allow more usecases in the future (e.g. :-1: when the user is not allowed to trigger packit, :rocket: when the update has been synced to the distgit e.t.c.)

[2021-08-18 09:54] jpopelka commented on #631
I had a similar idea. I took it from the wrong end in #621, but there are at least some useful notes in https://github.com/packit/ogr/pull/621#issuecomment-891988079

[2021-08-18 10:19] nikromen commented on #630
As we discussed within the team, it would be nice to have this feature also for Pagure but their API doesn't support it. I was doing some research and there was a demand for this feature a year ago, unfortunately without any response. The created issue is [here](https://pagure.io/pagure/issue/5042).

[2021-08-18 10:25] mfocko commented on #631
I might reopen it on Friday, since it's done at least for GitLab.

@jpopelka I think the notes are most helpful for your use-case in _hardly_, now I'm not really sure if it's usable at all in _ogr_, since it handles that specific use-case quite well, but would be more of PITA from the user-perspective :thinking:

On the other hand it might be beneficial to have the managers (that keep preferences

[2021-08-18 18:38] KPostOffice commented on #631
@lachmanfrantisek I'm not able to look at it this week but if no one has picked it up I can start looking at it next week. I think @mfocko has the right idea of extending `create_fork` with an optional `namespace` param

[2021-08-18 20:43] KPostOffice commented on #631
For my use case I was just going to call the underlying PyGithub API, but they also don't support this functionality for some reason. I've opened an issue there as well. https://github.com/PyGithub/PyGithub/issues/2033

[2021-08-18 21:15] mfocko commented on #631
@KPostOffice it's just under the `Repository.create_fork`, I guess that method you mentioned is for creating forks **specifically** in user's namespace 🤷‍♂️

[2021-08-23 07:47] lachmanfrantisek commented on #445
Since this still looks more like an epic, let's take a look at the current state and the real issues:

It's there. I don't think we need to describe what `GITHUB_TOKEN` is, but if you feel this is needed, we can add a sentence about that.

I would say they are checked before the test when we are in the write mode. And users get an exception when the token is not set. I donẗ think we need to change

[2021-08-30 09:49] mfocko commented on #445
I think the fixtures (with both prepare and clean up) would be nice, even though it introduces dependencies into test, e.g. `project_create` must be functional for tests that require playground :shrug:

[2021-09-08 12:53] abkosar commented on #535
Hi @mfocko -- No worries, I just wrote that comment because the bot marked it as stale so I didn't want the issue to close:)

[2021-09-14 16:33] #630 closed

[2021-09-27 09:17] FrNecas opened #641 "Improve handling of authentication exceptions"
Follow-up of https://github.com/packit/ogr/issues/199 . If a wrong token is provided (or the token expires), `BadCredentialsException` is thrown from Github. This exception can however pop up almost anywhere in the code so catching it in all these places would be very impractical. There may be a better way how to handle this.

[2021-10-03 01:16] abkosar commented on #535
So I'm focusing on this starting from today. I'll let you guys know if I have any questions!

[2021-10-03 12:56] mfocko commented on #330
seems to be still blocked

[2021-10-03 20:53] abkosar commented on #535
So, I have one question.

When you say:

Do you mean that pdoc doesn't include them in the documentation? Because when I click `abstract.py` and then `OgrAbstractClass` all the classes which inherit from the `OgrAbstractClass` show up there.

Do you want all the classes to be listed on the main page of the micro-site that pdoc generates? I want to understand which parts of the current documentatio

[2021-10-04 08:38] mfocko commented on #535
I see the misunderstanding now. The current implementation is using [pdoc3](https://pypi.org/project/pdoc3/) and we want to transition to [pdoc](https://pypi.org/project/pdoc/). If you generate the docs with `pdoc`, you only get the services that are exported via `__all__`